<template>
  <div>
    <div class="pb20">
      <h3 class="cl-black-2D242D align-center mt10 pb10 summary-title">
        {{ $t('Order Summary') }}
      </h3>
      <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
      <div v-if="productsInCart && productsInCart.length" class="checkout brdr-1 brdr-cl-gray-E5E5E5 bg-cl-white-F5F5F5 border-r pt25 pb20 cl-black-2D242D mt40">
        <div v-for="(segment, index) in totals" :key="index" class="row pt10 pb15 pl40 pr40 " v-if="segment.code !== 'grand_total'">
          <div class="col-xs cl-black-2D242D f-s-18">
            {{ segment.title }}
          </div>
          <div v-if="segment.value != null" class="col-xs align-right cl-black-2D242D f-s-18">
            {{ segment.value | price(storeView) }}
          </div>
        </div>

        <div class="row pt15 pb20 pl40 pr40 weight-600 f-s-20" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
          <div class="col-xs">
            {{ segment.title }}
          </div>
          <div class="col-xs align-right">
            {{ segment.value | price(storeView) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import Product from './Product'

export default {
  components: {
    Product
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  mixins: [CartSummary]
}
</script>

<style lang="scss" scoped>
  .summary-title {
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
</style>
