<template>
  <div class="flex px5 py10 mt20 br6 between-xs brdr-1 brdr-cl-gray-E5E5E5 relative">
    <div class="blend">
      <i class="clear-btn">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="7.5" cy="7.5" r="7.5" fill="#2D242D" />
          <rect x="4.75015" y="9.69983" width="7" height="0.777778" transform="rotate(-45 4.75015 9.69983)" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.30013 4.7502L10.2499 9.69995L9.6999 10.2499L4.75015 5.30017L5.30013 4.7502Z" fill="white" />
        </svg>
      </i>
      <div class="blend-img bg-cl-white">
        <product-image :image="image" />
      </div>
    </div>
    <div class="col-xs middle-xs flex flex-wrap">
      <div class="flex details">
        <div class="flex w-100 flex-wrap around-lg product-info middle-md">
          <div class="product-name weight-700">
            {{ product.name | htmlDecode }}
            <div class="cl-gray-969196 f-s-12 pt5 weight-400">
              {{ "500 gm" }}
            </div>
          </div>
          <!--<div class="product-qty">
            <span class="h5 cl-black-222222">
              {{ $t("Qty") }}
              <span class="weight-700">
                {{ product.qty }}
              </span>
            </span>
          </div>-->
          <div class="flex align-right center-xs prices">
            <div class="inline-flex weight-700">
              <div v-if="isOnline && product.totals">
                <span class="cl-error" v-if="product.totals.discount_amount">
                  {{ (product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount) | price(storeView) }}
                </span>
                <span
                  class="price-original a-bold cl-black-2D242D"
                  v-if="product.totals.discount_amount"
                >
                  {{
                    product.totals.row_total_incl_tax | price(storeView)
                  }}
                </span>
                <span v-if="!product.totals.discount_amount" class="a-bold cl-black-2D242D">{{
                  product.totals.row_total_incl_tax | price(storeView)
                }}</span>
              </div>
              <div v-else>
                <span class="cl-error" v-if="product.special_price">
                  {{
                    (product.price_incl_tax * product.qty) | price(storeView)
                  }}
                </span>
                <span class="price-original a-bold cl-black-2D242D" v-if="product.special_price">{{
                  (product.original_price_incl_tax * product.qty)
                    | price(storeView)
                }}</span>
                <span v-if="!product.special_price" class="a-bold cl-black-2D242D">{{
                  (product.price_incl_tax * product.qty) | price(storeView)
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Product } from '@vue-storefront/core/modules/checkout/components/Product';
import { onlineHelper } from '@vue-storefront/core/helpers';
import ProductImage from 'theme/components/core/ProductImage';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';

export default {
  computed: {
    storeView () {
      return currentStoreView();
    },
    isOnline () {
      return onlineHelper.isOnline;
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      };
    }
  },
  mixins: [Product],
  components: {
    ProductImage
  }
};
</script>
<style lang="scss" scoped>
.product-name {
  font-size:14px;
  line-height: 19px;
}
</style>
<style lang="scss">
.br6 {
  border-radius: 6px;
}
.price-original {
  text-decoration: line-through;
}
.blend {
  flex: 0 0 85px;
}

.details {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;

  @media (max-width: 991px) {
    .product-name {
      width: 100%;
    }
    .prices,
    .product-qty {
      width: 50%;
      margin-top: 10px;
    }
  }
}

.prices {
  flex-direction: column;
  @media (max-width: 767px) {
    padding: 0;
    font-size: 14px;
    text-align: left;
    display: block;
  }
}

.price-special {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.price-original {
  text-decoration: line-through;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}
.product-name {
  width: 150px;
  word-break: break-all;
}
@media (max-width: 767px) {
  li {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .product-name {
    width: 100px;
    word-break: break-all;
  }
  .product-info {
    align-items: center;
  }
  .blend {
    flex: 0 0 70px;
    margin: auto;
  }
}
</style>
