<template>
  <div class="relative base-input">
    <div class="relative" :class="iconInput ? 'base-input-icon': 'no-input-icon'">
      <input
        class="py15 w-100 border-box brdr-1 brdr-cl-gray-E5E5E5 h4 f-s-14"
        aria-label="Password"
        :class="{pr30: type === 'password', empty: value === ''}"
        :type="type === 'password' ? passType : type"
        :name="name"
        :autocomplete="autocomplete"
        :value="value"
        :autofocus="autofocus"
        :ref="name"
        @input="$emit('input', $event.target.value)"
        @blur="$emit('blur')"
        @keyup.enter="$emit('keyup.enter', $event.target.value)"
        @keyup="$emit('keyup', $event)"
        :placeholder="placeholder"
      >
      <span class="icon pr15" v-if="iconInput">
        <i :class="iconInput" />
      </span>
    </div>
    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseInput',
  components: {
    ValidationMessages
  },
  data () {
    return {
      passType: 'password',
      iconActive: false,
      icon: 'visibility_off'
    }
  },
  props: {
    type: {
      type: String,
      required: true
    },
    value: {
      type: [String, Number],
      default: ''
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    autocomplete: {
      type: String,
      required: false,
      default: ''
    },
    focus: {
      type: Boolean,
      required: false,
      default: false
    },
    autofocus: {
      type: Boolean,
      required: false,
      default: false
    },
    validations: {
      type: Array,
      default: () => []
    },
    labelRemove: {
      type: Boolean,
      default: false,
      required: false
    },
    iconInput: {
      type: String,
      required: false,
      default: ''
    }
  },
  methods: {
    togglePassType () {
      if (this.passType === 'password') {
        this.passType = 'text'
        this.icon = 'visibility'
      } else {
        this.passType = 'password'
        this.icon = 'visibility_off'
      }
    },
    // setFocus sets focus on a field which has a value of 'ref' tag equal to fieldName
    setFocus (fieldName) {
      if (this.name === fieldName) {
        this.$refs[this.name].focus()
      }
    }
  },
  created () {
    if (this.type === 'password') {
      this.iconActive = true
    }
  },
  mounted () {
    if (this.focus) {
      this.$refs[this.name].focus()
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-tertiary: color(tertiary);
  $color-black: color(black);
  $color-puerto-rico: color(puerto-rico);
  $color-hover: color(tertiary, $colors-background);
  $gray-E5E5E5: color(gray-E5E5E5);
  $gray-969196: color(gray-969196);

  input {
    background: inherit;
    &:hover,
    &:focus {
      outline: none;
    }
  }
  .no-input-icon {
    border-bottom: 1px solid $gray-E5E5E5;
    border-radius: 0;
    input {
      border: 0;
      padding:0;
      &::placeholder{
        color: $gray-969196;
        font-size: 14px;
      }
    }
  }
  .base-input-icon {
    border: 1px solid $gray-E5E5E5;
    display: flex;
    align-items: center;
    border-radius: 4px;
    input {
      border: 0;
      padding:0 15px;
      &::placeholder{
        color: $gray-969196;
        font-size: 14px;
      }
    }
    span {
      i {
        color: $gray-969196;
      }
    }
  }
</style>
