<template>
  <div class="" v-if="order">
    <!-- My orders header -->
    <div class="brdr-bottom-1 brdr-cl-gray-E5E5E5 ma-title-row hidden-dx">
      <h3 class="m0 weight-600 f-s-18 flex middle-xs">
        <img :src="'/assets/icons/MyOrder-hover.svg'" class="acc-link pr15" alt="My orders">
        {{ $t('My Orders') }}
      </h3>
    </div>

    <div class="mobile-br-box profile-data">
      <!-- My order header -->
      <div class="d-flex middle-xs between-xs mb15 order-head-row">
        <div class="flex middle-xs">
          <return-icon class="p5 icon pointer" />
          <h3 class="m0 mb5 mt5">
            {{ $t('Order #{id}', { id: order.increment_id }) }}
          </h3>
          <span class="brdr-1 brdr-cl-black-2D242D inline-flex py5 px20 ml30 f-s-14 weight-500 cl-black-2D242D">
            {{ order.status | capitalize }}
          </span>
        </div>
        <a href="#" class="weight-600 cl-black-2D242D f-s-18" @click.prevent="remakeOrder(singleOrderItems)">{{ $t('Remake order') }}</a>
      </div>
      <!-- My order body -->
      <div class="flex date-time end-xs brdr-bottom-1 brdr-cl-gray-E5E5E5 fs16 mb30 pb20">
        <p class="m0">
          <span class="cl-gray-969196">Date & time:</span>
          {{ order.created_at | date('LLL', storeView) }}
        </p>
      </div>
      <h4 class="fs16 weight-600 mt0 mb20 table-title">
        {{ $t('Items ordered') }}
      </h4>
      <div class="brdr-1 brdr-cl-gray-E5E5E5 fs16 mb40 order-table">
        <table>
          <thead>
            <tr>
              <th colspan="2" class="serif lh20">
                {{ $t('Product Name') }}
              </th>
              <th class="serif lh20">
                {{ $t('SKU') }}
              </th>
              <th class="serif lh20">
                {{ $t('Price') }}
              </th>
              <th class="serif lh20">
                {{ $t('Qty') }}
              </th>
              <th class="serif lh20">
                {{ $t('Subtotal') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="brdr-top-1 brdr-cl-gray-E5E5E5" v-for="item in singleOrderItems" :key="item.item_id">
              <td class="fs-medium lh25 product-img">
                <product-image :image="{src: itemThumbnail[item.sku]}" />
              </td>
              <td class="fs-medium lh25 weight-600 product-name" :data-th="$t('Product Name')">
                {{ item.name }}
                <span class="weight-400">
                  {{ $t('500 gm') }}
                </span>
              </td>
              <td class="fs-medium lh25 weight-500" :data-th="$t('SKU')">
                {{ item.sku }}
              </td>
              <td class="fs-medium lh25 weight-500" :data-th="$t('Price')">
                {{ item.price_incl_tax | price(storeView) }}
              </td>
              <td class="fs-medium lh25 weight-500 align-right" :data-th="$t('Qty')">
                {{ item.qty_ordered }}
              </td>
              <td class="fs-medium lh25" :data-th="$t('Subtotal')">
                {{ item.row_total_incl_tax | price(storeView) }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="brdr-top-1 brdr-cl-gray-E5E5E5">
              <td colspan="5" class="align-right">
                {{ $t('Subtotal') }}
              </td>
              <td>{{ order.subtotal | price(storeView) }}</td>
            </tr>
            <tr>
              <td colspan="5" class="align-right">
                {{ $t('Shipping') }}
              </td>
              <td>{{ order.shipping_amount | price(storeView) }}</td>
            </tr>
            <tr>
              <td colspan="5" class="align-right">
                {{ $t('Tax') }}
              </td>
              <td>{{ order.tax_amount + order.discount_tax_compensation_amount | price(storeView) }}</td>
            </tr>
            <tr v-if="order.discount_amount">
              <td colspan="5" class="align-right">
                {{ $t('Discount') }}
              </td>
              <td>{{ order.discount_amount | price(storeView) }}</td>
            </tr>
            <tr>
              <td colspan="5" class="align-right weight-600 cl-black">
                {{ $t('Grand total') }}
              </td>
              <td>{{ order.grand_total | price(storeView) }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="order-address">
        <h4 class="f-s-20 weight-600 m0">
          {{ $t('Order Informations') }}
        </h4>
        <div class="row">
          <div class="col-xs-12 col-xl-6 pr25">
            <div class="d-flex between-xs">
              <div class="shipping-address mr30" v-if="shippingAddress">
                <h5 class="mb15">
                  {{ $t('Shipping address') }}
                </h5>
                <address>
                  <p>{{ shippingAddress.firstname }} {{ shippingAddress.lastname }}</p>
                  <p>{{ shippingAddress.street[0] }} {{ shippingAddress.street[1] }}</p>
                  <p>{{ shippingAddress.postcode }} {{ shippingAddress.city }}</p>
                  <p>{{ shippingAddress.country }}</p>
                </address>
              </div>
              <div class="shipping-method" v-if="order.shipping_description">
                <h5 class="mb15">
                  {{ $t('Shipping method') }}
                </h5>
                <p>{{ order.shipping_description }}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-xl-6 pl25">
            <div class="d-flex between-xs">
              <div class="billing-address mr30">
                <h5 class="mb15">
                  {{ $t('Billing address') }}
                </h5>
                <address>
                  <p>{{ billingAddress.firstname }} {{ billingAddress.lastname }}</p>
                  <p>{{ billingAddress.street[0] }} {{ billingAddress.street[1] }}</p>
                  <p>{{ billingAddress.postcode }} {{ billingAddress.city }}</p>
                  <p>{{ billingAddress.country }}</p>
                </address>
              </div>
              <div class="payment-method">
                <h5 class="mb15">
                  {{ $t('Payment method') }}
                </h5>
                <p>{{ paymentMethod }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import MyOrder from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyOrder'
import ReturnIcon from 'theme/components/core/blocks/Header/ReturnIcon'
import ProductImage from 'theme/components/core/ProductImage'
import { getThumbnailPath, productThumbnailPath } from '@vue-storefront/core/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { mapActions } from 'vuex'

export default {
  mixins: [MyOrder],
  components: {
    ReturnIcon,
    ProductImage
  },
  data () {
    return {
      itemThumbnail: []
    }
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      getProduct: 'product/single'
    })
  },
  mounted () {
    this.singleOrderItems.forEach(async item => {
      if (!this.itemThumbnail[item.sku]) {
        const product = await this.getProduct({ options: { sku: item.sku }, setCurrentProduct: false, setCurrentCategoryPath: false, selectDefaultVariant: false })
        const thumbnail = productThumbnailPath(product)
        Vue.set(this.itemThumbnail, item.sku, getThumbnailPath(thumbnail, 280, 280))
      }
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
$white-F5F5F5: color(white-F5F5F5);

table {
  border-collapse: collapse;
  width: 100%;

  @media (max-width: 767px) {
    border-top: none;
  }

  th, td {
    text-align: left;
    padding: 20px;

    &.align-right {
      text-align: right;

      @media (max-width: 767px) {
        text-align: left;
      }

    }

    @media (max-width: 1199px) {
      padding: 10px;
    }
  }

  thead {
    @media (max-width: 767px) {
      display: none;
    }
  }

  tbody {

    tr {
      @media (max-width: 767px) {
        display: block
      }

      &:nth-child(even) {
        td {
          background-color: $white-F5F5F5;
        }
      }

    }

    td {
      @media (max-width: 767px) {
        display: block;
        text-align: left;
        padding: 10px 20px;
        &:before {
          content: attr(data-th) ': ';
          font-weight: 700;
        }
      }

      &:first-child {
        @media (max-width: 767px) {
          padding: 20px 20px 10px 20px;
        }
      }

      &:last-child {
        @media (max-width: 767px) {
          padding: 10px 20px 20px 20px;
        }
      }
    }

  }

  tfoot {

    tr {
      @media (max-width: 767px) {
        display: block
      }

      &:last-child {
        td:last-child {
         padding-bottom: 20px
        }
      }

    }

    td {
      @media (max-width: 767px) {
        display: block
      }

      &:first-child {
        @media (max-width: 767px) {
          font-weight: 700;
          padding: 20px 20px 5px 20px;
        }
      }

      &:last-child {
        @media (max-width: 767px) {
          padding: 5px 20px 0 20px;
        }
      }

    }

  }

  i {
    vertical-align: middle;
  }

}

a {
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-tertiary;
  }

  &:hover {
    &:after {
      opacity: 0;
    }
  }
}

address {
  font-style: normal;
}

</style>
