<template>
  <div class="ac-px40 address-book">
    <!-- My shipping details header -->
    <div class="flex top-xs between-xs brdr-bottom-1 brdr-cl-gray-E5E5E5 ma-title-row">
      <h3 class="m0 weight-600 f-s-18 flex middle-xs">
        <img :src="'/assets/icons/DeliveryDetails-hover.svg'" class="acc-link pr15" alt="My shipping details">
        {{ $t('Address Book') }}
      </h3>
      <div class="lh30 hidden-mx" v-if="!isEdited">
        <a href="#" class="flex no-underline f-s-16 middle-xs" @click.prevent="edit">
          <i class="material-icons f-s-20 mr10" aria-hidden="true">edit</i>
          <span class="f-s-14 weight-600">
            {{ $t('Edit Delivery Details') }}
          </span>
        </a>
      </div>
    </div>

    <div class="mobile-br-box profile-data account-form">
      <!-- My shipping details body (edit mode) -->
      <div class="row mt20 my-shipping-details" v-if="isEdited">
        <template>
          <base-input
            class="col-xs-12 mb15"
            type="text"
            name="company-name"
            autocomplete="company-name"
            :placeholder="$t('Company Name*')"
            v-model.trim="shippingDetails.companyName"
          />
          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="first-name"
            autocomplete="given-name"
            :placeholder="`${$t('First Name*')}`"
            v-model.trim="shippingDetails.firstName"
            @input="$v.shippingDetails.firstName.$touch()"
            :validations="[
              {
                condition: !$v.shippingDetails.firstName.required && $v.shippingDetails.firstName.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.shippingDetails.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="last-name"
            autocomplete="family-name"
            :placeholder="`${$t('Last Name*')}`"
            v-model.trim="shippingDetails.lastName"
            @input="$v.shippingDetails.lastName.$touch()"
            :validations="[{
              condition: !$v.shippingDetails.lastName.required && $v.shippingDetails.lastName.$error,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-md-9 mb15"
            type="text"
            name="city"
            autocomplete="address-level2"
            :placeholder="`${$t('City / Area*')}`"
            v-model.trim="shippingDetails.city"
            @input="$v.shippingDetails.city.$touch()"
            :validations="[
              {
                condition: !$v.shippingDetails.city.required && $v.shippingDetails.city.$error,
                text: $t('Field is required')
              },
              {
                condition: $v.shippingDetails.city.$error && $v.shippingDetails.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-3 mb15"
            type="text"
            name="block"
            :placeholder="$t('Block*')"
            v-model.trim="shippingDetails.block"
            autocomplete="address-level3"
          />

          <base-input
            class="col-xs-12 col-md-9 mb15"
            type="text"
            name="street-address"
            autocomplete="address-line1"
            :placeholder="`${$t('Street Name / Number*')}`"
            v-model.trim="shippingDetails.street"
            @input="$v.shippingDetails.street.$touch()"
            :validations="[{
              condition: !$v.shippingDetails.street.required && $v.shippingDetails.street.$error,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-3 mb15"
            type="text"
            name="floorApartment"
            :placeholder="$t('Floor / Apartment')"
            v-model.trim="shippingDetails.floorApartment"
            autocomplete="tel"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="apartment-number"
            autocomplete="address-line2"
            :placeholder="`${$t('House / Apartment Number')} *`"
            v-model.trim="shippingDetails.house"
            @input="$v.shippingDetails.house.$touch()"
            :validations="[{
              condition: !$v.shippingDetails.house.required && $v.shippingDetails.house.$error,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="jaddahAvenue"
            :placeholder="$t('Jaddah / Avenue')"
            v-model.trim="shippingDetails.jaddahAvenue"
            autocomplete="tel"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="zip-code"
            autocomplete="postal-code"
            :placeholder="`${$t('Postal Code')} *`"
            v-model.trim="shippingDetails.postcode"
            @input="$v.shippingDetails.postcode.$touch()"
            :validations="[
              {
                condition: !$v.shippingDetails.postcode.required && $v.shippingDetails.postcode.$error,
                text: $t('Field is required')
              },
              {
                condition: !$v.shippingDetails.postcode.minLength,
                text: $t('Zipcode must have at least 3 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-md-6 mb15"
            type="text"
            name="state"
            autocomplete="address-level1"
            :placeholder="$t('State / Province')"
            v-model.trim="shippingDetails.region"
          />

          <base-input
            class="col-xs-12 mb15"
            type="text"
            name="phone-number"
            autocomplete="tel"
            :placeholder="$t('Mobile Number*')"
            v-model.trim="shippingDetails.phone"
          />

          <base-checkbox
            v-if="hasBillingAddress()"
            class="col-xs-12 mb15 check-box"
            id="addCompanyFilled"
            v-model="useCompanyAddress"
          >
            {{ $t("Use my company's address details") }}
          </base-checkbox>
          <!-- <base-select
            class="col-xs-12 col-md-6 mb15"
            name="countries"
            :options="countryOptions"
            :selected="shippingDetails.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition: $v.shippingDetails.country.$error && !$v.shippingDetails.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="shippingDetails.country"
            autocomplete="country-name"
            @blur="$v.shippingDetails.country.$touch()"
            @change="$v.shippingDetails.country.$touch()"
          /> -->

          <div class="col-xs-12 d-flex middle-xs mt20 acc-btn-container btn-row">
            <button-full
              class="uppercase px50"
              @click.native="updateDetails"
              :disabled="$v.$invalid"
            >
              {{ $t('Update Delivery Details') }}
            </button-full>
            <a href="#" @click="exitSection" class="f-s-14 weight-600 cl-gray-969196 uppercase ml20">
              {{ $t('Cancel') }}
            </a>
          </div>
        </template>
      </div>

      <!-- My shipping details summary -->
      <div class="row fs16 mt35 my-shipping-info" v-else>
        <div class="col-xs-12">
          <div class="address-item">
            <div class="flex pb10">
              <div class="cl-gray-969196 weight-400 f-s-16 hidden-dx mw-140">
                Name:
              </div>
              <span class="cl-black-2D242D weight-600 f-s-16">
                {{ shippingDetails.firstName }} {{ shippingDetails.lastName }}
              </span>
            </div>
            <div class="flex pt15 pb10 hidden-dx">
              <div class="cl-gray-969196 weight-400 f-s-16 mw-140">
                <label class="">Email:</label>
              </div>
              <span class="cl-black-2D242D weight-600 f-s-16">
                {{ currentUser.email }}
              </span>
            </div>
            <div class="flex pt10 pb10">
              <div class="cl-gray-969196 weight-400 f-s-16 hidden-dx mw-140">
                Address:
              </div>
              <span class="cl-black-2D242D weight-600 f-s-16">
                {{ shippingDetails.company }}
                {{ shippingDetails.street }}
                <span v-if="shippingDetails.house"> {{ shippingDetails.house }}</span>
                {{ shippingDetails.city }} {{ shippingDetails.postcode }}
                <span v-if="shippingDetails.region">{{ shippingDetails.region }}, </span>
                {{ getCountryName() }}
              </span>
            </div>
            <div class="flex middle-xs pt10">
              <div class="cl-gray-969196 weight-400 f-s-16 hidden-dx mw-140">
                Mobile:
              </div>
              <span class="cl-black-2D242D weight-600 f-s-16">
                {{ shippingDetails.phone }}
              </span>
            </div>
            <div class="sd-address f-s-16 weight-600">
              <base-checkbox
                v-if="useCompanyAddress"
                class="col-xs-12 mb25 check-box"
                id="useCompanyAddressFilled"
                v-model="useCompanyAddress"
                disabled
              >
                {{ $t("Use my company's address details") }}
              </base-checkbox>
            </div>
          </div>
        </div>
      </div>

      <div class="lh30 hidden-dx edit-profile" v-if="!isEdited">
        <a href="#" class="flex no-underline f-s-16 middle-xs" @click.prevent="edit">
          <i class="material-icons f-s-20 mr10" aria-hidden="true">edit</i>
          <span class="f-s-14 weight-600">
            {{ $t('Edit Delivery Details') }}
          </span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import MyProfile from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyProfile'
import MyShippingDetails from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyShippingDetails'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'

import ButtonFull from 'theme/components/theme/ButtonFull'
// import Tooltip from 'theme/components/core/Tooltip'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
// import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'

export default {
  components: {
    ButtonFull,
    // Tooltip,
    BaseCheckbox,
    BaseInput
    // BaseSelect
  },
  mixins: [MyShippingDetails, MyProfile],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  validations: {
    shippingDetails: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required
      },
      country: {
        required
      },
      street: {
        required,
        unicodeAlphaNum
      },
      house: {
        required,
        unicodeAlphaNum
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.sd-address {
  p {
    margin: 0
  }
}
select{
  padding-left: 0px;
  padding-right: 0px;
}
.mw-140 {
  min-width: 140px;
}
</style>
