<template>
  <div class="ac-px40 account-wishlist">
    <!-- My newsletter header -->
    <div class="flex top-xs between-xs brdr-bottom-1 brdr-cl-gray-E5E5E5 ma-title-row">
      <h3 class="m0 weight-600 f-s-18 flex middle-xs">
        <img :src="'/assets/icons/wishlist-icon.svg'" class="acc-link pr15" alt="My newsletter">
        {{ $t('My List') }}
      </h3>
    </div>
    <product-listing columns="3" :products="productsInWishlist" :product-slider="false" />
  </div>
</template>

<script>
// import MyWishlist from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyWishlist'
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import ProductListing from 'theme/components/core/ProductListing.vue'
import i18n from '@vue-storefront/i18n'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    ProductListing
  },
  mixins: [Wishlist]
}
</script>
<style lang="scss">
  .acc-ckbox.label-f-s-16 label {
    font-size: 16px;
  }
  .account-wishlist{
    .productslist{
      .product{
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .qty-addtocart{
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
      .cart-btn{
        max-width: 145px;
      }
      .wishlist-btn{
        background: #2D242D;
        svg{
          circle{
            fill: #ffffff;
          }
          path{
            stroke:#ffffff;
          }
        }
      }
    }
    .ma-title-row{
      margin-bottom: 10px;
    }
    @media only screen and (max-width: 992px) {
      .qty-addtocart{
        max-width: 170px;
        margin: 0 auto;
      }
      .ma-title-row{
        border-bottom: solid 1px #E5E5E5 !important;
      }
    }
  }
</style>
