<template>
  <div class="sidebar">
    <div class="sidebar__header relative f-s-16 cl-black-2D242D flex pb13 brdr-bottom-1 brdr-cl-gray-E5E5E5">
      <span class="uppercase weight-700">{{ $t('Filter') }}</span>
      <span
        class="sidebar__header__clear pointer middle-xs flex cl-black-2D242D f-s-14"
        @click="resetAllFilters"
        v-show="hasActiveFilters"
      >
        <img src="/assets/icons/cancel.svg" class="mr10" alt="">
        {{ $t('Clear Filter') }}
      </span>
    </div>
    <div class="brdr-bottom-1 brdr-cl-gray-E5E5E5 pb18">
      <h5>{{ $t('Categories') }}</h5>
      <ul v-if="categoryInventory.length > 0" class="p0 m0 category-list">
        <li class="menu-item relative" v-for="(category, index) of categoryInventory" :key="index">
          <router-link
            class="main-menu-link menu-link no-underline cl-gray-969196"
            data-testid="categoryButton"
            :to="localizedRoute('/' + category.url_path)"
          >
            {{ category.name }}
            <span class="pull-right">({{ category.product_count }})</span>
          </router-link>
        </li>
      </ul>
    </div>
    <price-slider
      code="price"
      id="getMaxPrice"
      :from="0"
      :to="2000"
    />
    <!--<div v-for="(filter, filterIndex) in availableFilters" :key="filterIndex" class="brdr-bottom-1 brdr-cl-gray-E5E5E5 pb20">
      <h5 :class="filterIndex">{{ $t(filterIndex + '_filter') }}</h5>

      <div class="sidebar__inline-selecors">
        <generic-selector
          context="category"
          class="mr10 mb10 flex middle-xs"
          :code="filterIndex"
          v-for="(option, index) in filter"
          :key="index"
          :variant="option"
          :selected-filters="getCurrentFilters"
          @change="$emit('changeFilter', $event)"
        />
      </div>
    </div>-->
    <WeightFilter />
    <BrandFilter />
    <DietFilter />
  </div>
</template>

<script>
// import ColorSelector from 'theme/components/core/ColorSelector';
// import SizeSelector from 'theme/components/core/SizeSelector';
// import PriceSelector from 'theme/components/core/PriceSelector';
// import GenericSelector from 'theme/components/core/GenericSelector';
import PriceSlider from './PriceSlider';
import pickBy from 'lodash-es/pickBy';
import { mapState } from 'vuex';
import WeightFilter from 'theme/components/core/WeightFilter';
import BrandFilter from 'theme/components/core/BrandFilter';
import DietFilter from 'theme/components/core/DietFilter';

export default {
  components: {
    // ColorSelector,
    // SizeSelector,
    // PriceSelector,
    // GenericSelector,
    PriceSlider,
    WeightFilter,
    BrandFilter,
    DietFilter
  },
  props: {
    filters: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState({
      categoryList: state => state.category.list
    }),
    categoryInventory () {
      let sortArray = this.categoryList.length > 0 ? this.categoryList.filter(cat => {
        return parseInt(cat.children_count) !== 0
      }) : []
      return sortArray
    },
    hasActiveFilters () {
      return this.$store.getters['category-next/hasActiveFilters'];
    },
    getCurrentFilters () {
      return this.$store.getters['category-next/getCurrentFilters'];
    },
    availableFilters () {
      return pickBy(this.filters, (filter, filterType) => {
        return (
          filter.length &&
          !this.$store.getters['category-next/getSystemFilterNames'].includes(
            filterType
          )
        );
      });
    }
  },
  methods: {
    resetAllFilters () {
      this.$store.dispatch('category-next/resetSearchFilters');
    },
    sortById (filters) {
      return [...filters].sort((a, b) => {
        return a.id - b.id;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.sidebar {
  &__header {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h5 {
    font-size: 14px;
    list-style: none;
    margin-bottom:20px;
  }
  .category-list {
    list-style: none;
    li {
      margin-bottom: 10px;
      a {
        display: block;
        font-size: 14px;
      }
    }
  }
  > div{
    &:last-child{
      border-bottom: 0px;
      padding-bottom: 0px;
      .sidebar__inline-selecors{
        > div{
          &:last-child{
            margin-bottom:0px;
          }
        }
      }
    }
  }
}
</style>
