<template>
  <div>
    <form action="">
      <div class="row">
        <div class="base-input col-xs-12 col-md-6 mb15">
          <input aria-label="First Name" type="text" name="first-name" placeholder="First Name*" class="input-field">
        </div>
        <div class="base-input col-xs-12 col-md-6 mb15">
          <input aria-label="Last Name" type="text" name="last-name" placeholder="Last Name*" class="input-field">
        </div>
        <div class="base-input col-xs-12 mb15">
          <input aria-label="Email Address" type="text" name="email-address" placeholder="Email Address*" class="input-field">
        </div>
        <div class="base-input col-xs-12 mb15">
          <input aria-label="mobile-number" type="text" name="mobile-number" placeholder="Mobile Number*" class="input-field">
        </div>
        <div class="base-input col-xs-12 mb15">
          <textarea class="text-field" placeholder="Message" />
        </div>
        <div class="col-xs-12 flex center-xs">
          <button class="btn-all">
            Submit Now
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: 'ContactForm'
};
</script>
