<template>
  <div class="brdr-bottom-1 brdr-cl-gray-E5E5E5 pb20">
    <h5>{{ 'Diet' }}</h5>

    <div class="sidebar__inline-selecors">
      <div class="mr10 mb10 flex middle-xs between-xs">
        <div>
          <button class="selector">
            <span class="absolute block square" />
          </button>
          <span class="cl-gray-969196 f-s-14">{{ 'Organic' }}</span>
        </div>
        <span class="end-xs f-s-14 cl-gray-969196">{{ '(4)' }}</span>
      </div>
      <div class="mr10 mb10 flex middle-xs between-xs">
        <div>
          <button class="selector">
            <span class="absolute block square" />
          </button>
          <span class="cl-gray-969196 f-s-14">{{ 'Non-GMO' }}</span>
        </div>
        <span class="end-xs f-s-14 cl-gray-969196">{{ '(13)' }}</span>
      </div>
      <div class="mr10 mb10 flex middle-xs between-xs">
        <div>
          <button class="selector">
            <span class="absolute block square" />
          </button>
          <span class="cl-gray-969196 f-s-14">{{ 'Vegetarian' }}</span>
        </div>
        <span class="end-xs f-s-14 cl-gray-969196">{{ '(34)' }}</span>
      </div>
      <div class="mr10 mb10 flex middle-xs between-xs">
        <div>
          <button class="selector">
            <span class="absolute block square" />
          </button>
          <span class="cl-gray-969196 f-s-14">{{ 'Vegan' }}</span>
        </div>
        <span class="end-xs f-s-14 cl-gray-969196">{{ '(17)' }}</span>
      </div>
      <div class="mr10 mb10 flex middle-xs between-xs">
        <div>
          <button class="selector">
            <span class="absolute block square" />
          </button>
          <span class="cl-gray-969196 f-s-14">{{ 'Keto' }}</span>
        </div>
        <span class="end-xs f-s-14 cl-gray-969196">{{ '(17)' }}</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'DietFilter'
}
</script>
<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-event: color(green-95BF47);
  $black-2D242D: color(black-2D242D);

  .selector {
    width: 15px;
    height: 15px;
    border: 1px solid $black-2D242D;
    border-radius: 2px;
    background: transparent;
    position: relative;
    margin-right: 15px;
    /*&:hover {
      background-color: $black-2D242D;
      border-radius: 2px;
      .square {
        background-color: $black-2D242D;
        border-radius: 2px;
      }
    }*/

    &.active {
      border: 1px solid $black-2D242D;
      .square {
        border-radius: 2px;
        background-color: $black-2D242D;
        &:after {
          content: "";
          border: 1px solid #FFFFFF;
          border-top: 0px;
          border-left: 0px;
          transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
          position: absolute;
          display: block;
          color: #fff;
          left: 4px;
          top: 4px;
          width: 7px;
          height: 3px;
          font-size: 16px;
        }
      }
    }
  }

  .square {
    width: 15px;
    height: 15px;
    top: -1px;
    left: -1px;
    /*left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);*/
  }
</style>
