<template>
  <section class="container cl-black-2D242D">
    <div class="row">
      <div class="col-xs-12">
        <div class="row center-xs bg-cl-white m0 product-reviews border-r">
          <div class="col-xs-12 pt50 pb20" :class="accordionComment">
            <h2 class="m0 mb30 lh35 f-s-25 weight-700 uppercase">
              {{ $t('Reviews') }}
            </h2>
            <div class="row center-xs review-box1">
              <div class="col-md-6 review-meter">
                <table>
                  <tr>
                    <td>
                      {{ $t('5 STARS') }}
                    </td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" style="width:90%" />
                      </div>
                    </td>
                    <td>{{ $t('168') }}</td>
                  </tr>
                  <tr>
                    <td>
                      {{ $t('4 STARS') }}
                    </td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" style="width:80%" />
                      </div>
                    </td>
                    <td>
                      {{ $t('168') }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ $t('3 STARS') }}
                    </td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" style="width:60%" />
                      </div>
                    </td>
                    <td>
                      {{ $t('168') }}
                    </td>
                  </tr>
                  <tr>
                    <td>{{ $t('2 STARS') }}</td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" style="width:40%" />
                      </div>
                    </td>
                    <td>{{ $t('168') }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('1 STARS') }}</td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" style="width:20%" />
                      </div>
                    </td>
                    <td>{{ $t('168') }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6 review-info">
                <div class="flex rating-view center-xs">
                  <div class="rating-result mr10">
                    <span />
                  </div>
                  <span class="f-s-18 cl-black-2D242D">
                    {{ $t('4.0 / 5.0') }}
                  </span>
                </div>
                <h4 class="mt10 mb55">
                  {{ $t('46 Reviews') }}
                </h4>
                <button class="view-review f-s-18 weight-500" @click="commentAccordion">
                  {{ $t('VIew all review') }}
                  <i class="arrow ml10" :class="accordionCommentArrow" />
                </button>
              </div>
            </div>
            <div class="comments">
              <div class="item flex">
                <div class="user-img">
                  <img src="/assets/user.png" alt="">
                </div>
                <div class="user-info">
                  <div class="flex between-xs title">
                    <h5 class="cl-black-2D242D">
                      {{ $t('Juran Perez') }}
                      <span class=" f-s-14 cl-gray-969196">
                        {{ $t('Jun 20, 2017') }}
                      </span>
                    </h5>
                    <div class="rating-result">
                      <span />
                    </div>
                  </div>
                  <p>
                    {{ $t('Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac. Donec sed odio dui. Donec sed odio dui.') }}
                  </p>
                  <router-link class="f-s-14 weight-600" to="">
                    {{ $t('Reply Comment') }}
                  </router-link>
                </div>
              </div>
              <div class="item flex">
                <div class="user-img">
                  <img src="/assets/user.png" alt="">
                </div>
                <div class="user-info">
                  <div class="flex between-xs title">
                    <h5 class="cl-black-2D242D">
                      {{ $t('Juran Perez') }}
                      <span class=" f-s-14 cl-gray-969196">
                        {{ $t('Jun 20, 2017') }}
                      </span>
                    </h5>
                    <div class="rating-result">
                      <span />
                    </div>
                  </div>
                  <p>
                    {{ $t('Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac. Donec sed odio dui. Donec sed odio dui.') }}
                  </p>
                  <router-link class="f-s-14 weight-600" to="">
                    {{ $t('Reply Comment') }}
                  </router-link>
                </div>
              </div>
              <div class="item flex">
                <div class="user-img">
                  <img src="/assets/user.png" alt="">
                </div>
                <div class="user-info">
                  <div class="flex between-xs title">
                    <h5 class="cl-black-2D242D">
                      {{ $t('Juran Perez') }}
                      <span class=" f-s-14 cl-gray-969196">
                        {{ $t('Jun 20, 2017') }}
                      </span>
                    </h5>
                    <div class="rating-result">
                      <span />
                    </div>
                  </div>
                  <p>
                    {{ $t('Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac. Donec sed odio dui. Donec sed odio dui.') }}
                  </p>
                  <router-link class="f-s-14 weight-600" to="">
                    {{ $t('Reply Comment') }}
                  </router-link>
                </div>
              </div>
            </div>
            <!--<reviews-list
              :per-page="4"
              :items="reviews"
              :product-name="productName"
            />-->
          </div>
          <div class="col-xs-12 px40">
            <div class="brdr-top-1 brdr-cl-gray-E5E5E5 pt20" :class="accordionClasses">
              <h2 class="h4 m0 lh25 weight-700 uppercase brdr-bottom-1 brdr-cl-gray-E5E5E5 pb20 accordion-header flex center-xs middle-xs" @click="toggleAccordion">
                {{ $t('Write Your Review') }} <i class="arrow ml10" :class="accordionHeaderArrow" />
              </h2>
              <div class="accordion-body">
                <div class="row center-xs">
                  <div class="col-lg-8 pt60">
                    <div class="review-form">
                      <h4 class="f-s-20 lh25 cl-black-2D242D m0 align-left">
                        {{ $t('Write Your Review') }}
                      </h4>
                      <p class="f-s-14 lh20 cl-gray-969196 mt0 align-left cl-secondary">
                        {{ $t('Nullam quis risus eget urna mollis ornare vel eu leo.') }}
                      </p>
                      <div class="your-rating flex">
                        <label class="title">
                          {{ $t('Your Rating :') }}
                        </label>
                        <div class="control review-control-vote">
                          <input type="radio" name="ratings[4]" id="Rating_1" value="16" class="radio">
                          <label class="rating-1" for="Rating_1" title="1 star" id="Rating_1_label">
                            <span>
                              {{ $t('1 star') }}
                            </span>
                          </label>
                          <input type="radio" name="ratings[4]" id="Rating_2" value="17" class="radio">
                          <label class="rating-2" for="Rating_2" title="2 stars" id="Rating_2_label">
                            <span>
                              {{ $t('2 star') }}
                            </span>
                          </label>
                          <input type="radio" name="ratings[4]" id="Rating_3" value="18" class="radio">
                          <label class="rating-3" for="Rating_3" title="3 stars" id="Rating_3_label">
                            <span>
                              {{ $t('3 star') }}
                            </span>
                          </label>
                          <input type="radio" name="ratings[4]" id="Rating_4" value="19" class="radio">
                          <label class="rating-4" for="Rating_4" title="4 stars" id="Rating_4_label">
                            <span>
                              {{ $t('4 star') }}
                            </span>
                          </label>
                          <input type="radio" name="ratings[4]" id="Rating_5" value="20" class="radio">
                          <label class="rating-5" for="Rating_5" title="5 stars" id="Rating_5_label">
                            <span>
                              {{ $t('5 star') }}
                            </span>
                          </label>
                        </div>
                      </div>
                      <form action="#" @submit.prevent="outOfScope()">
                        <div class="mb15 pt20">
                          <base-input
                            type="text"
                            :placeholder="$t('Name') + ' *'"
                            v-model="formData.name"
                            @blur="$v.formData.name.$touch()"
                            :validations="[
                              {
                                condition: $v.formData.name.$error && !$v.formData.name.required,
                                text: $t('Field is required')
                              },
                              {
                                condition: !$v.formData.name.minLength,
                                text: $t('Name must have at least 2 letters.')
                              }
                            ]"
                          />
                        </div>
                        <div class="mb15">
                          <base-input
                            type="email"
                            :placeholder="$t('Email') + ' *'"
                            v-model="formData.email"
                            @blur="$v.formData.email.$touch()"
                            :validations="[
                              {
                                condition: $v.formData.email.$error && !$v.formData.email.required,
                                text: $t('Field is required')
                              },
                              {
                                condition: !$v.formData.email.email && $v.formData.email.$error,
                                text: $t('Please provide valid e-mail address.')
                              }
                            ]"
                          />
                        </div>
                        <!--<div class="mb10">
                          <base-input
                            type="text"
                            :placeholder="$t('Summary') + ' *'"
                            v-model="formData.summary"
                            @blur="$v.formData.summary.$touch()"
                            :validations="[
                              {
                                condition: $v.formData.summary.$error && !$v.formData.summary.required,
                                text: $t('Field is required')
                              }
                            ]"
                          />
                        </div>-->
                        <div class="mb25">
                          <base-textarea
                            type="text"
                            :placeholder="$t('Your Review') + ' *'"
                            v-model="formData.review"
                            @blur="$v.formData.review.$touch()"
                            :validations="[
                              {
                                condition: $v.formData.review.$error && !$v.formData.review.required,
                                text: $t('Field is required')
                              }
                            ]"
                          />
                        </div>
                        <div class="row m0 middle-xs buttons submit-btn">
                          <button-full
                            @click.native="validate()"
                            class=" px40"
                            :class="{ 'w-auto': !currentUser }"
                          >
                            {{ $t('SUBMIT') }}
                          </button-full>
                          <!--<no-ssr>
                            <span
                              class="fs-medium ml20 cl-gray lh30 py5 block"
                              v-if="!currentUser"
                            >
                              {{ $t('or') }} <a href="#" class="cl-primary" @click.prevent="login()">{{ $t('login') }}</a> {{ $t('to account') }}
                            </span>
                          </no-ssr>-->
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull'
// import ReviewsList from 'theme/components/theme/blocks/Reviews/ReviewsList'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'
import { AddReview } from '@vue-storefront/core/modules/review/components/AddReview'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'Reviews',
  data () {
    return {
      formData: {
        name: '',
        email: '',
        summary: '',
        review: ''
      },
      isOpen: false,
      isOpenShowing: false
    }
  },
  props: {
    productId: {
      type: [String, Number],
      required: true
    },
    productName: {
      type: String,
      default: ''
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    accordionClasses () {
      return {
        'is-closed': !this.isOpen
      };
    },
    accordionHeaderArrow () {
      return {
        'right': !this.isOpen,
        'down': this.isOpen
      }
    },
    accordionComment () {
      return {
        'is-closed-comment': !this.isOpenShowing
      };
    },
    accordionCommentArrow () {
      return {
        'right': !this.isOpenShowing,
        'down': this.isOpenShowing
      }
    }
  },
  methods: {
    validate () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      }
    },
    refreshList () {
      this.$store.dispatch('review/list', { productId: this.productId })
    },
    async submit () {
      const isReviewCreated = await this.$store.dispatch('review/add', {
        'product_id': this.productId,
        'title': this.formData.summary,
        'detail': this.formData.review,
        'nickname': this.formData.name,
        'review_entity': 'product',
        'customer_id': this.currentUser ? this.currentUser.id : null
      })

      if (isReviewCreated) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You submitted your review for moderation.'),
          action1: { label: i18n.t('OK') }
        })

        return
      }

      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: i18n.t('Something went wrong. Try again in a few seconds.'),
        action1: { label: i18n.t('OK') }
      })
    },
    clearReviewForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.summary = ''
      this.formData.review = ''
      this.$v.$reset()
    },
    login () {
      this.$bus.$emit('modal-show', 'modal-signup')
    },
    fillInUserData () {
      if (this.currentUser) {
        this.formData.name = this.currentUser.firstname
        this.formData.email = this.currentUser.email
      }
    },
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    },
    commentAccordion () {
      this.isOpenShowing = !this.isOpenShowing;
    }
  },
  mounted () {
    this.$bus.$on('product-after-load', this.refreshList)
    this.$bus.$on('clear-add-review-form', this.clearReviewForm)
    this.$bus.$on('user-after-loggedin', this.fillInUserData)
  },
  destroyed () {
    this.$bus.$off('product-after-load', this.refreshList)
    this.$bus.$off('clear-add-review-form', this.clearReviewForm)
    this.$bus.$off('user-after-loggedin', this.fillInUserData)
  },
  beforeMount () {
    this.refreshList()
    this.fillInUserData()
  },
  mixins: [ Reviews ],
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      email: {
        required,
        email
      },
      summary: {
        required
      },
      review: {
        required
      }
    }
  },
  components: {
    ButtonFull,
    BaseInput,
    BaseTextarea
    // ReviewsList,
  }
}
</script>
<style lang="scss" scoped>
  .accordion-header {
    cursor: pointer;
  }
  .accordion-body   {
    padding: 0;
    overflow: hidden;
    transition: 0.3s ease all;
  }
  .is-closed .accordion-body {
    max-height: 0;
    display: none;
  }
  .submit-btn{
    button{
      min-width: unset;
      background: #2D242D;
      border-radius: 4px;
      border: 1px solid #2D242D !important;
      color: #fff;
      line-height: 1;
      padding-top: 14px;
      padding-bottom: 14px;
      font-weight: 700;
      max-width: 140px;
    }
  }
</style>
<style lang="sass">
  @import '~theme/css/blocks/review';
</style>
