@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black-2D242D: color(black-2D242D);
$gray-969196: color(gray-969196);
$gray-E5E5E5: color(gray-E5E5E5);
.page-title{
  text-align: center;
  margin-bottom: 35px;
  h2{
    margin: 0;
    color: $black-2D242D;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.35;
    padding: 0 0 5px;
  }
  p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: $gray-969196;
    line-height: 1.35;
    max-width: 320px;
    margin: 0 auto;
  }
}
.input-field{
  font-size: 14px;
  padding: 15px 0;
  border:0px;
  border-bottom:solid 1px $gray-E5E5E5;
  width:100%;
  &::placeholder{
    color:$gray-969196;
  }
}
.text-field{
  font-size: 14px;
  padding: 15px 0;
  border:0px;
  border-bottom:solid 1px $gray-E5E5E5;
  width:100%;
  height: 52px;
  &::placeholder{
    color:$gray-969196;
  }
}
.btn-all{
  border: 0px;
  display: inline-flex;
  background: $black-2D242D;
  padding: 10px 35px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 6px;
  color: $white;
  font-weight: 600;
  &.small{
    padding: 10px 10px;
  }
}
#contact{
  .contact-form{
    width: 100%;
    max-width: 60%;
    padding: 40px;
  }
  .contact-info{
    width: 100%;
    max-width: 37%;
    padding: 40px;
    .info-box-wrap{
      margin-bottom: 40px;
      .box-icon{
        padding: 2px 0 0 0;
        width: 40px;
      }
      h4{
        margin: 0;
        font-size: 18px;
        font-weight: 600;
      }
      p{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: $gray-969196;
        a{
          color: $gray-969196;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 992px) {
    .contact-form{
      padding: 20px;
    }
    .contact-info{
      padding: 20px;
      .info-box-wrap{
        margin-bottom: 20px;
        h4{
          font-size: 16px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .container{
      padding-bottom: 0;
    }
    .contact-form{
      max-width: 100%;
      margin-bottom: 15px;
    }
    .contact-info{
      max-width: 100%;
    }
  }
}