@media (max-width: 992px) {
  .shipping-info{
    .ship-inside{
      img{
        max-width: 45px;
      }
      .ship-content{
        p{
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .shipping-info{
    .ship-inside{
      justify-content: center;
    }
  }
}