$gray-AAAAAA: color(gray-AAAAAA);
$black-2D242D: color(black-2D242D);
.microcart{
  .cart-back-link{
    i{
      line-height: 1.3;
    }
  }
  .qut-number{
    position: absolute;
    left: -12px;
    top: -12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 100%;
    text-align: center;
  }
  .product-name{
    width: 250px;
    a{
      font-weight: 700;
    }
  }
  .couponinput{
    .empty{
      min-height: 49px;
    }
  }
  .prices{
    font-weight: 600;
    color: $black-2D242D;
  }
  .products{
    .cart-item{
      position: relative;
      background: #FFFFFF;
      border: 1px solid #D8D8D8;
      border-radius: 6px;
      padding: 25px;
      align-items: center;
      margin-bottom: 25px;
      &:last-child{
        margin-bottom: 0;
      }
      .qty-no{
        position: absolute;
        cursor: not-allowed;
        left: -13px;
        top: -13px;
        background: $black-2D242D;
        border-radius: 100%;
        border: 0px;
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-weight: 600;
        label{
          display: none;
        }
        input{
          border: 0px;
          text-align: center;
          color: #fff;
          width: 26px;
          height: 26px;
          line-height: 26px;
          font-weight: 600;
          font-size: 14px;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .blend{
        flex: 0 0 90px;
      }
      a{
        font-size: 16px;
        color: $black-2D242D;
        font-weight: 600;
        line-height: 1.3;
      }
      .weight{
        font-size: 12px;
        color: $gray-AAAAAA;
        display: block;
      }
      .product-quantity{
        label{
          display: none;
        }
        input{
          text-align: center;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none;
          margin: 0;
        }
      }
      @media (max-width: 767px) {
        margin: 0 auto 20px;
        max-width: 96%;
        padding: 15px 10px;
        a{
          font-size: 14px;
        }
        .qty-no{
          position: absolute;
          cursor: not-allowed;
          left: -9px;
          top: -9px;
          border-radius: 100%;
          width: 22px;
          height: 22px;
          line-height: 19px;
          input{
            border: 0px;
            text-align: center;
            color: #fff;
            width: 22px;
            height: 22px;
            line-height: 19px;
            font-size: 12px;
          }
        }
        .details{
          display: block;
          .flex-wrap{
            display: block;
            input{
              font-size: 14px;
            }
          }
        }
        .blend{
          flex: 0 0 65px;
        }
        .qty{
          margin-top: 5px;
          padding: 0;
        }
        .product-image{
          img{}
        }
        .prices{
          text-align: left;
          .price-regular{
            font-size: 14px;
          }
        }
        .remove-btn{
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translate(0, -50%);         
          i{
            font-size: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .products{
      li{
        .col-xs.flex-wrap{
          padding-right: 0;
        }
      }
    }
    .cart-back-link{
      a{
        font-size: 15px;
        font-weight: 700;
      }
    }
    .qut-number{
      width: 24px;
      height: 24px;
      font-size: 13px;
    }
    .product-info{
      display: block;
      position: relative;
      padding-right: 30px;
      .product-name{
        width: 100%;
        a{
          font-weight: 600;
          display: block;
          line-height: 16px;
        }
      }
      .prices{
        text-align: left;
        font-size: 12px;
        .prices{
          display: block;
          padding-top: 12px;
        }
      }
      .product-remove{
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -9px;
      }
    }
  }
}