@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-969196: color(gray-969196);
$gray-E5E5E5: color(gray-E5E5E5);
$black-2D242D: color(black-2D242D);
$white: color(white);
$white-F5F5F5: color(white-F5F5F5);
#my_account{
  .account-menu{
    width: 100%;
    max-width: 333px;
  }
  .account-information{
    width: 100%;
    max-width: 867px;
  }
  .static-menu{
    padding: 35px;
    ul{
      li{
        a{
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          color: $gray-969196;
          &:before{
            content: '';
            display: inline-block;
            width: 22px;
            height: 21px;
            margin-right: 15px;
            opacity: 0.5;
            background-size:auto 21px;
            background-repeat: no-repeat;
          }
          &.profile-title{
            &:before{
              background-image: url(/assets/icons/my-profile.svg);
            }
          }
          &.shipping-title{
            &:before{
              background-image: url(/assets/icons/DeliveryDetails-hover.svg);
            }
          }
          &.my-list{
            &:before{
              background-image: url(/assets/icons/wishlist-icon.svg);
            }
          }
          &.newsletter-title{
            &:before{
              background-image: url(/assets/icons/Newsletter-hover.svg);
            }
          }
          &.order-title{
            &:before{
              background-image: url(/assets/icons/MyOrder-hover.svg);
            }
            &.router-link-active{
              color: $black-2D242D;
              &:before{
                opacity:1;
              }
            }
          }
          &.recently-title{
            &:before{
              background-image: url(/assets/icons/viewed-product-hover.svg);
            }
          }
          &:hover,
          &.router-link-exact-active{
            color: $black-2D242D;
            &:before{
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .ma-title-row{
    padding-bottom: 15px;
    a{
      color: rgba(45, 36, 45, 0.8);
    }
  }
  .account-form{
    max-width: 600px;
  }
  .order-head-row{
    button{
      background: transparent;
      border: 0;
      font-size: 24px;
    }
    h3{
      font-size: 18px;
    }
    span{
      border-radius: 15px;
    }
    a{
      text-transform: capitalize;
      &:after{
        display: none;
      }
    }
  }
  .order-table{
    border-radius: 8px;
    padding-bottom: 10px;
    table{
      thead{
        tr{
          th{
            background: $white-F5F5F5;
            border-bottom: 1px solid $gray-E5E5E5;
            &:first-child{
              border-radius: 8px 0 0 0;
            }
            &:last-child{
              border-radius: 0 8px 0 0;
            }
          }
        }
      }
      td{
        font-size: 14px;
        line-height: 19px;
        color: $black-2D242D;
        padding: 11px 15px;
        span{
          color: $gray-969196;
          display: block;
        }
        a{
          color: $black-2D242D;
          text-decoration: underline;
        }
        &:first-child{
          padding-left: 30px;
        }
        &:last-child{
          padding-right: 20px;
          font-weight: 600;
        }
      }
      .product-img{
        padding-right: 0px;
      }
      .product-image{
        height:auto;
        padding: 0 !important;
        width: auto;
        img{
          position: relative;
          left: inherit;
          top: inherit;
          transform: translate(0%, 0%);
          width: 45px;
        }
      }
      tfoot{
        tr{
          &:first-child{
            td{
              padding-top: 25px;
            }
          }
        }
      }
    }
  }
  .order-address{
    text-transform: capitalize;
    h5{
      font-size: 16px;
      font-weight: 600;
    }
    p{
      font-size: 14px;
      font-weight: 500;
      color: $gray-969196;
    }
    .shipping-address{
      max-width: 190px;
    }
    .billing-address{
      max-width: 190px;
    }
  }
  .recently-viewed{
    .row{
      .col-sm-6{
        flex-basis: 33.333333%;
        max-width: 33.333333%;
        .button-full{
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .order-address{
      .row{
        margin-left: 0px;
        margin-right: 0px;
        .col-xl-6{
          padding-left: 0;
        }
        .pr25{
          padding-right: 0;
        }
        .pl25{
          padding-left: 0;
        }
      }
    }
    .recently-viewed{
      .row{
        margin-left: -10px;
        margin-right: -10px;
        .col-sm-6{
          flex-basis: 50%;
          max-width: 50%;
          padding: 0 10px;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .account-menu{
      max-width: 270px;
    }
    .account-menu{
      z-index: 1;
      .static-menu{
        padding: 20px;
        ul{
          li{
            a{
              font-size: 14px;
              padding-left: 35px;
              position: relative;
              margin-bottom: 20px;
              &::before{
                position: absolute;
                left: 0;
              }
            }
            &:last-child{
              a{
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
    .order-head-row{
      h3{
        font-size: 15px;
      }
      span{
        font-size: 11px;
      }
      a{
        font-size: 14px;
      }
    }
    .date-time{
      font-size: 13px;
    }
    .account-information{
      .shaded-box{
        padding: 20px;
        .order-head-row{
          span{
            margin-left:15px ;
          }
        }
      }
    }
    .order-table{
      table{
        thead{
          tr{
            th{
              font-size: 14px;
            }
          }
        }
      }
      tr{
        td{
          font-size: 13px;
        }
      }
    }
    .recently-list{
      margin-top: 10px;
      .p-name{
        min-height: auto;
        font-size: 14px;
        font-weight: 600;
      }
      p{
        font-size: 14px;
        padding: 0;
      }
      span{
        font-size: 16px;
      }
      .qty-addtocart{
        padding-left: 0px;
        padding-right: 0px;
        max-width: 165px;
        margin: 0 auto;
        .cart-btn{
          padding-right: 5px;
        }
      }
      .wishlist-btn{
        svg{
          width: 18px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .mobile-menu{
      position: absolute;
      left: 0;
      top: 0;
      font-size: 14px;
      display: flex;
      align-items: center;
      background:$white;
      width: 100%;
      border-bottom: solid 1px $gray-E5E5E5;
      padding: 15px 20px;
      &::before{
        content: '';
        display: inline-block;
        width: 22px;
        height: 21px;
        margin-right: 15px;
        background-size:auto 21px;
        background-repeat: no-repeat;
        background-image: url(/assets/icons/my-profile.svg);
      }
      &::after{
        content: '';
        display: inline-block;
        border: 1.5px solid $black-2D242D;
        border-left: 0px;
        border-top: 0px;
        transform: rotate(-45deg);
        width: 8px;
        height: 8px;
        position: absolute;
        right: 20px;
      }
      &.active{
        &::after{
          transform: rotate(45deg);
        }
      }
    }
    .account-menu{
      position: absolute;
      left: 0;
      top: 52px;
      max-width: 100%;
      display: none;
      &.active{
        display: block;
      }
      .static-menu{
        padding:20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 8px 8px;
        ul{
          li{
            a{
              font-size: 14px;
              margin-bottom: 25px;
            }
            &:last-child{
              a{
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
    .my-shipping-details{
      select{
        padding-left: 0px;
      }
    }
    .my-shipping-info{
      .col-xs-12{
        .flex{
          div{
            font-size: 13px;
            min-width: 70px;
          }
          span{
            font-size: 13px;
          }
        }
      }
    }
    .edit-my-profile{
      .col-xs-12{
        .flex{
          div{
            font-size: 13px;
          }
          span{
            font-size: 13px;
          }
        }
      }
    }
    .account-information{
      max-width: 100%;
      margin: 30px 0 0 0;
      .shaded-box{
        padding: 15px;
        .ma-title-row{
          border-bottom: 0;
          padding: 0;
          h3{
            padding: 5px 0 20px 0;
            font-size: 14px;
            display: flex;
            justify-content: center;           
            width: 100%;
          }
        }
        .mobile-br-box{
          border: solid 1px $gray-E5E5E5;
          border-radius: 6px;
        }
      }
      .account-newsletter{
        h4{
          font-size: 14px;
        }
        label{
          font-size: 14px;
        }
        .btn-row{
          button{
            margin-bottom: 5px;
          }
        }
      }
      .profile-data{
        .row{
          margin-top: 0;
          padding: 15px 20px;
          .col-xs-12{
            .flex{
              padding: 10px 0;
            }
          }
        }
        .edit-profile{
          border-top: solid 1px $gray-E5E5E5;
          background: rgba(45, 36, 45, 0.03);
          padding: 9px 20px;
          a{
            span{
              font-size: 13px;
            }
          }
        }
        .btn-row{
          margin-top: 0px;
          text-align: center;
          button{
            width: 100%;
            max-width: 100%;
          }
          a{
            margin: 0px;
            margin-top: 15px;
            display: inline-block;
          }
        }
      }
    }
    .orders-body{
      padding-top: 0px;
      table{
        display: block;
        padding: 5px 20px 0;
        tbody{
          tr{
            display: block;
            border-top: solid 1px $gray-E5E5E5;
            padding: 15px 0 20px;
            &:first-child{
              border-top: 0px;
            }
            th{
              display: none;
            }
            td{
              display:inline-flex;
              font-size: 13px;
              width: 100%;
              padding: 5px 0;
              span{
                &:first-child{
                  font-weight: 600;
                  min-width: 150px;
                  text-align: left;
                }
              }
              .dropdown{
                padding: 0;
                margin: 0;
                width: 100%;
                display: block;
                i{
                  display: none;
                }
                .dropdown-content{
                  display: flex;
                  justify-content: space-between;
                  position: relative;
                  top: inherit;
                  right: inherit;
                  width: 100%;
                  border-radius: 0;
                  box-shadow: 0 0 0;
                  a{
                    font-size: 13px;
                    text-transform: capitalize;
                    font-weight: 600;
                    border-radius: 4px;
                    padding: 10px 35px;
                    width: 50%;
                    text-align: center;
                    &:nth-child(1){
                      color: $white;
                      background: $black-2D242D;
                      margin-right: 5px;
                    }
                    &:nth-child(2){
                      border: 1px solid $black-2D242D;
                      margin-left: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .order-head-row{
      .flex{
        background: rgba(163, 163, 163, 0.06);
        border-bottom: solid 1px $gray-E5E5E5;
        padding: 15px;
        margin-bottom: 15px;
      }
      a{
        margin: 0 15px;
        text-decoration: underline;
      }
    }
    .date-time{
      text-align: left;
      padding: 0 15px;
      border-bottom: 0;
      margin-bottom: 20px;
      p{
        width: 100%;
      }
    }
    .profile-data{
      .table-title{
        background: rgba(163, 163, 163, 0.06);
        border: solid 1px $gray-E5E5E5;
        border-bottom: 0;
        padding: 15px 20px;
        margin: 0 15px;
        border-radius: 6px 6px 0 0;
        font-size: 16px;
      }
      .order-table{
        margin: 0 15px;
        border-radius: 0 0 6px 6px;
        position: relative;
        padding-bottom: 0px;
        .product-img{
          position: absolute;
          padding-left: 0;
          left: 20px;
          &::before{
            display: none;
          }
        }
        tbody{
          tr{
            padding:20px 0;
            margin: 0 20px;
            &:first-child{
              border-top: 0px;
            }
            td{
              padding: 8px 15px 8px 75px;
              background: transparent;
              &::before{
                font-size: 14px;
                min-width: 90px;
                display: inline-block;
              }
              &.product-name{
                &::before{
                  display: block;
                  font-size: 16px;
                  font-weight: 600;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
        tfoot{
          background: rgba(163, 163, 163, 0.06);
          display: block;
          padding: 7px 0;
          border-top: solid 1px $gray-E5E5E5;
          tr{
            display: block;
            padding: 6px 20px;
            border: 0px;
            td{
              display: inline-flex;
              font-size: 14px;
              font-weight: 500;
              padding: 0 0 !important;
              &:first-child{
                min-width: 110px;
              }
            }
            &:last-child{
              td{
                font-weight: 700;
                font-size: 15px;
              }
            }
          }
        }
      }
      .order-address{
        h4{
          margin: 20px 15px 0;
          padding: 0 0 10px 0;
          font-size: 16px;
          border-bottom: solid 1px $gray-E5E5E5;
        }
        .row{
          padding: 15px;
          p{
            margin: 0;
            padding: 3px 0;
          }
          address{
            padding-bottom: 15px;
          }
          h5{
            margin: 0 0 8px;
            font-size: 14px;
          }
          .shipping-method{
            padding-bottom: 20px;
          }
          .payment-method{
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  .container{
    padding-bottom: 25px;
  }
}
.account-information{
  @media only screen and (min-width: 767px) {
    .hidden-dx {
      display: none;
    }
    .address-item{
      max-width: 250px;
    }
  }
  @media only screen and (max-width: 767px) {
    .hidden-mx {
      display: none;
    }
  }
}
