@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-AAAAAA: color(gray-AAAAAA);
$gray-969196: color(gray-969196);
.product-top-section{
  .top-section-data{
    .product-title-sec{
      border-radius: 6px;
      padding: 25px 20px;
      h1{
        line-height: 1.3;
      }
      .product-weight{
        font-size: 16px;
        color: $gray-AAAAAA;
      }
      .price{
        margin:20px 0 0;
      }
    }
    .author-name{
      text-decoration: underline;
    }
    @media only screen and (min-width: 768px) {
      .image{
        flex-basis: 45%;
        max-width: 45%;
      }
      .data{
        flex-basis: 53%;
        max-width: 53%;
        .product-title-sec{
          padding: 30px 40px;
        }
      }
    }
    @media only screen and (min-width: 1280px) {
      .image{
        flex-basis: 566px;
        max-width: 566px;
      }
      .data{
        flex-basis: 665px;
        max-width: 665px;
      }
    }
  }
  .product-quantity{
    margin-bottom: 0;
    .base-input-number{
      .base-input-number__label{
        display: none;
      }
      input{
        border-radius: 4px;
        border: solid 2px #E5E5E5;
        padding: 6px 10px;
        display: block;
        height: auto;
        text-align: center;
        width: 60px;
        margin-right: 15px;
      }
    }
  }
}
.VueCarousel-slide.hover-on-product{
  padding-left: 5px;
  padding-right: 5px;
  .product{
    border-radius: 6px;
  }
}
.product-review-star{
  display: flex;
  .star-row{
    display: flex;
    span{
      width: 18px;
      height: 17px;
      background: url(/assets/icons/star1.svg) no-repeat;
      margin-right: 2px;
      &.checked{
        background: url(/assets/icons/star2.svg) no-repeat;
      }
    }
  }
  > span{
    margin-left: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .product-top-section{
    .top-section-data{
      .product-title-sec{
        .price{
          font-size: 20px;
          margin-top: 20px;
        }
      }
      .product-review-star{
        > span{
          color: $gray-969196;
        }
      }
      .short-description{
        p{
          font-size: 14px;
          color: $gray-969196;
        }
      }
    }
  }
  #product{
    .new-collection{
      padding-top:30px;
      .product-listing{
        padding-top:30px;
      }
    }
  }
}
