@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$white-F5F5F5: color(white-F5F5F5);
$black-2D242D: color(black-2D242D);
$gray-F5F5F5: color(gray-F5F5F5);
$gray: color(gray);
$gray-969196: color(gray-969196);
$gray-E5E5E5: color(gray-E5E5E5);
$purple-D3B3E6: color(purple-D3B3E6);
.product-reviews{
  padding-bottom: 40px;
  .arrow{
    border: solid $black-2D242D;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  .review-form{
    max-width: 500px;
    input{
      border: solid 1px $gray-E5E5E5;
      border-radius: 4px;
      padding: 0 15px;
      height: 44px;
      line-height: 44px;
      font-size: 12px;
    }
    textarea{
      border: solid 1px $gray-E5E5E5;
      border-radius: 6px;
      width: 100%;
      padding: 10px;
      margin-bottom:10px;
    }
    .no-input-icon{
      border: 0px;
    }
  }
}
.your-rating{
    padding: 15px 0 5px 0;
    .title{
      font-size: 13px;
      line-height: 18px;
      color: rgba(45, 36, 45, 0.6);
    }
}

.review-box1{
  max-width: 800px;
  margin: 0 auto !important;
  padding: 0 0 20px;
}
.review-meter{
  table{
    tr{
      td{
        font-size: 14px;
        padding-bottom: 15px;
        .a-meter-bar{
          width: 225px;
          background: $gray-F5F5F5;
          .a-meter-filled{
            background: $black-2D242D;
            height: 10px;
          }
        }
        &:nth-child(1){
          width: 70px;
          padding-right: 5px;
        }
        &:nth-child(3){
          width: 35px;
          text-align: right;
          padding-left: 5px;
        }
      }
    }
  }
}
.review-info{
  text-align: center;
  .rating-view{
    .rating-result{
      background: url(/assets/icons/star1.svg);
      background-size: auto 24px;
      height: 24px;
      width: 130px;
      span{
        display: block;
        background: url(/assets/icons/star2.svg);
        background-size: auto 24px;
        height: 24px;
        width: 80%;
      }
    }
  }
  h4{
    font-size: 24px;
  }
  .view-review{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    margin: 0 auto;
    background: transparent;
    border: 0;
  }
}
.is-closed-comment{
  .comments{
    display: none;
  }
}
.comments{
  max-width: 800px;
  margin:0 auto;
  border-top: 1px solid $gray-E5E5E5;
  text-align: left;
  .item{
    padding: 30px 0;
    border-bottom: 1px solid $gray-E5E5E5;
    .user-info{
      width: 100%;
      padding-left: 30px;
      .title{
        align-items: center;
        padding:0;
        h5{
          margin: 0 0 5px;
          font-size: 18px;
          display: flex;
          align-items: center;
          span{
            font-weight: normal;
            &::before{
              content: '';
              display: inline-block;
              vertical-align: middle;
              background: $black-2D242D;
              width: 4px;
              height: 4px;
              border-radius: 100%;
              margin:0 10px;
            }
          }
        }
        .rating-result{
          background: url(/assets/icons/star1.svg);
          background-size: auto 16px;
          height: 16px;
          width: 87px;
          span{
            display: block;
            background: url(/assets/icons/star2.svg);
            background-size: auto 16px;
            height: 16px;
            width: 80%;
          }
        }
      }
      p{
        color: $gray-969196;
        font-size: 14px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 15px;
      }
      a{
        color: rgba(45, 36, 45, 0.8);
      }
    }
    &:last-child{
        border-bottom: 0px;
    }
  }
}
.write-review{
  border-top: 1px solid $gray-E5E5E5;
  border-bottom: 1px solid $gray-E5E5E5;
  padding-bottom: 40px;
  .title{
    text-align: center;
    font-size: var(--font-size4);
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 1px solid $gray-E5E5E5;
  }
  h4{
    font-size: var(-font-size4);
    color: var(-font-color2);
  }
  p{
    color: $gray-969196;
    font-size: 14px;
    line-height: 18px;
  }
  .your-rating{
    font-size: var(-font-size2);
    color: var(-font-color1);
    padding: 10px 0 15px 0;
    img{
      vertical-align: middle;
      margin-top: -2px;
      margin-left: 10px;
    }
  }
  .review-form{
      max-width: 800px;
      margin: 0 auto;
      padding: 40px 0 0 0;
      form{
          max-width: 500px;
      }
      input{
          border: solid 1px $gray-E5E5E5;
          border-radius: 6px;
          font-size: var(font-size2);
          padding: 10px;
          width: 100%;
          margin-bottom:10px;
      }
      textarea{
          border: solid 1px $gray-E5E5E5;
          border-radius: 6px;
          width: 100%;
          padding: 10px;
          margin-bottom:10px;
      }
      .btn1{
          padding: 12px 30px;
      }
  }
}

.review-control-vote {
    overflow: hidden;
    margin: 2px 0 0 15px;
  }
  .review-control-vote:before {
    color: #EEEEEE;
    font-family: 'FontAwesome';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
    display: block;
    position: absolute;
    z-index: 1;
  }
  .review-control-vote input[type="radio"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .review-control-vote input[type="radio"]:hover + label:before,
  .review-control-vote input[type="radio"]:checked + label:before {
    opacity: 1;
  }
  .review-control-vote label {
    cursor: pointer;
    display: block;
    position: absolute;
  }
  .review-control-vote label span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .review-control-vote label:before {
    color: #D3B3E6;
    font-family: 'FontAwesome';
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
  }
  .review-control-vote label:hover:before {
    opacity: 1;
  }
  .review-control-vote label:hover ~ label:before {
    opacity: 0;
  }
  .review-control-vote .rating-5 {
    z-index: 2;
  }
  .review-control-vote .rating-5:before {
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
  }
  .review-control-vote .rating-4 {
    z-index: 3;
  }
  .review-control-vote .rating-4:before {
    content: '\f005' '\f005' '\f005' '\f005';
  }
  .review-control-vote .rating-3 {
    z-index: 4;
  }
  .review-control-vote .rating-3:before {
    content: '\f005' '\f005' '\f005';
  }
  .review-control-vote .rating-2 {
    z-index: 5;
  }
  .review-control-vote .rating-2:before {
    content: '\f005' '\f005';
  }
  .review-control-vote .rating-1 {
    z-index: 6;
  }
  .review-control-vote .rating-1:before {
    content: '\f005';
  }
  .review-control-vote:before {
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
  }
#product{
  .product-reviews{
    @media only screen and (max-width: 767px) {
      margin-top: 20px;
      padding-bottom: 0;
      > .col-lg-8{
        padding-top: 25px;
        padding-bottom: 20px;
      }
      h2{
        font-size: 20px;
        margin-bottom: 20px;
      }
      .review-box1{
        padding-bottom: 0;
        table{
          margin: 0 auto;
        }
        .review-info{
          padding: 25px 12px 0;
          h4{
            font-weight: 600;
            border-bottom: solid 1px $gray-E5E5E5;
            padding-bottom: 25px;
            margin-bottom: 20px;
          }
        }
        .rating-view{
          span{
            color: $gray;
          }
        }
        .view-review{
          width: 100%;
          max-width: 100%;
          display: block;
          font-size: 16px;
          font-weight: 700;
          .arrow{
            margin-top: -8px;
            vertical-align: middle;
          }
        }
      }
      > .px40{
        padding-left: 20px;
        padding-right: 20px;
      }
      .comments{
        margin: 0 12px 0;
        border-top: 0px;
        .item{
          padding: 20px 0;
          &:first-child{
            border-top: 0px;
          }
          &:last-child{
            padding-bottom: 0;
          }
          .user-img{
            img{
              max-width: 60px;
            }
          }
          .user-info{
            padding-left: 15px;
            .title{
              margin-bottom: 7px;
              h5{
                font-size: 14px;
                margin-bottom: 0;
                span{
                  font-size: 12px;
                  &:before{
                    margin-top: -5px;
                  }
                }
              }
            }
            p{
              font-size: 10px;
              line-height: 14px;
              margin-bottom: 5px;
            }
            a{
              font-size: 12px;
              color: $purple-D3B3E6;
            }
          }
        }
      }
      .accordion-header{
        font-size: 18px;
      }
      .accordion-body{
        .col-lg-8{
          padding-top: 10px;
          padding-bottom: 20px;
          .review-form{
            h4{
              font-size: 16px;
            }
            p{
              font-size: 12px;
            }
          }
        }
        .review-form{
          input{
            background: $white-F5F5F5;
            font-size: 12px;
          }
          textarea{           
            background: $white-F5F5F5;
            line-height: 1.3;
            font-size: 12px;
            margin-bottom: 10px;
          }
          .mb25{
            margin-bottom: 0;
          }
          .submit-btn{
            button{
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}