$white: color(white);
.shop-lifestyle{
    .VueCarousel-wrapper{
        .category{
            text-align: center;
            background: $white;
            border-radius: 6px;
            padding: 25px 10px;
            img{
                max-width: 120px;
            }
        }
    }
}