$white: color(white);
$gray-969196: color(gray-969196);
$black-2D242D: color(black-2D242D);
.category-filters{
  .sidebar{
    background: $white;
    border-radius: 6px;
    padding: 20px;
  }
}
.sidebar-menu{
  .sidebar-menu__container{
    ul{
      li{
        margin-bottom: 0;
      }
    }
  }
  .bottom-section{
    .top-header{
      background: transparent;
      .container{
        display: block;
        padding: 0;
        .flex{
          display: block;
          .first{
            display: flex;
            span{
              &:nth-child(1){
                color: $gray-969196;
                padding-right: 4px;
              }
              &:nth-child(2){
                color: $black-2D242D;
              }
            }
          }
          .second{
            display: flex;
            span{
              color: $gray-969196;
              > span{
                color: $black-2D242D;
                padding-right: 4px;
              }
            }
          }
          .country-drop-box{
            display: none;
          }
        }
      }
    }
  }
}