<template>
  <div class="top-header bg-cl-black-2D242D">
    <div class="container hidden-xs">
      <div class="flex between-xs middle-xs">
        <div class="first">
          <span class="cl-white f-s-12">{{ $t('Support:') }}</span>
          <span class="cl-white f-s-12">{{ '(012) 800 456 789' }}</span>
        </div>
        <div class="second">
          <span class="cl-white f-s-12">
            {{ $t('Ordered before ') }}
            <span class="cl-white">17:30</span>
          </span>
          <span class="cl-white f-s-12">
            {{ $t('Shipped ') }}
            <span class="cl-white">Today</span>
          </span>
        </div>
        <div class="country-drop-box">
          <div class="country-drop-title f-s-14 weight-600" @click="active" :class="{active: isActive}">
            <img :src="activeMenuImage" :alt="activeMenuTxt">
            <span>
              {{ activeMenuTxt }}
            </span>
          </div>
          <div class="country-drop-content" :class="{active: isActive}">
            <ul class="m0 p0">
              <li v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
                <router-link :to="localizedRoute(page.link)" @click.native="updateMobileMenuTxt(page.title, page.image)" class="cl-accent flex middle-xs mb35" :class="page.class">
                  <img :src="page.image" :alt="page.title">
                  <span>{{ page.title }}</span>
                </router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// import CountryDropDown from "theme/components/theme/blocks/CountryDropDown";
export default {
  name: 'TopHeaderBar',
  data () {
    return {
      navigation: [
        { title: this.$t('USD'), link: '/', image: '/assets/icons/united_state.svg' },
        { title: this.$t('KW'), link: '/', image: '/assets/icons/ar-KW.svg' }
      ],
      isActive: false,
      activeMenuTxt: this.$t('USD'),
      activeMenuImage: '/assets/icons/united_state.svg'
    }
  },
  mounted () {
    const navigation = this.navigation;
    navigation.forEach((nav) => {
      if (nav.link === this.$router.history.current.path) {
        this.activeMenuTxt = nav.title;
        this.activeMenuImage = nav.image;
      }
    });
  },
  methods: {
    active: function () {
      this.isActive = !this.isActive;
    },
    updateMobileMenuTxt (langmenutxt, langmenuimage) {
      this.activeMenuTxt = langmenutxt;
      this.activeMenuImage = langmenuimage;
      if (window.matchMedia('(max-width: 767px)').matches) {
        this.isActive = !this.isActive;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.top-header {
  .third {
    img {
      width: 25px;
      height: 15px;
      vertical-align: middle;
    }
  }
}
.country-drop-box{
  z-index: 1;
  .country-drop-title{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 4px;
    color: #fff;
    cursor: pointer;
    img{
      margin-right: 5px;
      max-width: 25px;
    }
    span{
      padding-right: 8px;
      font-weight: 400;
      font-size: 12px;
    }
    &:after{
      content: '';
      display: inline-block;
      border: 1px solid #fff;
      border-left: 0px;
      border-top: 0px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: -3px;
      width: 4px;
      height: 4px;
    }
  }
  .country-drop-content{
    display: none;
    position: absolute;
    top: 35px;
    ul{
      list-style-type: none;
      background: #fff;
      border-radius: 4px;
      padding:3px 8px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      li{
        color: #2D242D;
        font-size: 12px;
        display: flex;
        align-items: center;
        padding: 2px 0;
        a{
          margin: 0;
          padding: 0;
          height: auto;
        }
        img{
          margin-right: 5px;
          max-width: 25px;
        }
      }
    }
    &.active{
      display: block;
    }
  }
}
</style>
