<template>
  <div class="header bg-cl-white">
    <header class="w-100 hidden-tablet main-header" :class="{ 'is-visible': navVisible }">
      <top-header-bar />
      <div class="container">
        <div class="row middle-xs center-xs pt16 header-row order-div">
          <div class="hidden-md col-xs-1 start-xs menu-hamburger">
            <hamburger-icon class="pointer" />
          </div>
          <div class="col-md-3 col-xs-5 start-md head-logo" v-if="!isMSearchInput">
            <logo width="auto" height="32px" />
          </div>
          <div class="col-md-5 col-xs-2 search-icon" :class="isMSearchInput ? 'col-xs-10' : 'col-xs-2'">
            <search-icon class="pointer" :is-mobile-search="isMSearchInput" />
          </div>
          <div class="flex col-md-4 col-xs-4 end-md" v-if="!isMSearchInput">
            <account-icon />
            <microcart-icon />
          </div>
        </div>
      </div>
    </header>

    <header class="w-100 hidden-disk" :class="{ 'is-visible': navVisible }">
      <div class="container">
        <div class="flex mobile-header">
          <div class="flex head-left">
            <hamburger-icon class="pointer" />
            <div class="search-icon">
              <search-icon class="pointer" />
            </div>
          </div>
          <div class="mobile-logo">
            <logo width="auto" height="32px" />
          </div>
          <div class="flex head-right">
            <account-icon />
            <microcart-icon />
          </div>
        </div>
      </div>
    </header>
    <category-menu :categories="categories" />
  </div>
</template>

<script>
import { mapState } from 'vuex';
import CurrentPage from 'theme/mixins/currentPage';
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon';
// import CompareIcon from 'theme/components/core/blocks/Header/CompareIcon';
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon';
import Logo from 'theme/components/core/Logo';
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon';
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon';
// import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon';
import TopHeaderBar from 'theme/components/theme/blocks/TopHeaderBar';
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel';
import CategoryMenu from './CategoryMenu';

export default {
  name: 'Header',
  components: {
    AccountIcon,
    // CompareIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcon,
    // WishlistIcon,
    TopHeaderBar,
    CategoryMenu
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 54,
      isMSearchInput: false
    };
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current,
      categoryList: state => state.category.list
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false;
    },
    categories () {
      let filteredCategory = this.categoryList.filter(
        category => category.include_in_menu === 1 && category.parent_id === 2
      );
      return filteredCategory;
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true;
      },
      { passive: true }
    );

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled();
        this.isScrolling = true;
      }
    }, 250);

    this.$bus.$on('open-search-input', () => {
      this.isMSearchInput = !this.isMSearchInput
    })
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup');
    },
    hasScrolled () {
      this.scrollTop = window.scrollY;
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false;
      } else {
        this.navVisible = true;
      }
      this.lastScrollTop = this.scrollTop;
    }
  },
  beforeDestroy () {
    this.$bus.$off('open-search-input')
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$color-icon-hover: color(secondary, $colors-background);

// header {
//   height: 54px;
//   top: -55px;
//   z-index: 3;
//   transition: top 0.2s ease-in-out;
//   &.is-visible {
//     top: 0;
//   }
// }
.icon {
  opacity: 0.6;
  &:hover,
  &:focus {
    background-color: $color-icon-hover;
    opacity: 1;
  }
}
.right-icons {
  //for edge
  float: right;
}
.header-placeholder {
  height: 54px;
}
.links {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .header {
    box-shadow: 0  0px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .header-row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .order-div {
    div:nth-child(1) {
      order: 1;
    }
    div:nth-child(2) {
      order: 3;
    }
    div:nth-child(3) {
      order: 2
    }
    div:nth-child(4) {
      order: 4;
    }
    div:nth-child(5) {
      order: 5;
    }

  }
}
</style>
