<template>
  <div class="">
    <div class="hidden-tablet head-search">
      <div class="search-group flex bg-cl-black-EAEAEC">
        <input
          aria-label="Search for diets, brands, or products..."
          class="search-input w-100 f-s-14"
          :placeholder="$t('Search for diets, brands, or products...')"
          type="text"
          v-model="search"
          @input="makeSearch"
          @focus="openSearchBox"
        >
        <!-- @blur="closeSearchBox" -->
        <span class="search-icons"><img src="/assets/icons/search.svg" alt=""></span>
      </div>
    </div>
    <input
      aria-label="Search for diets, brands, or products..."
      :class="searchClass"
      class="hidden-disk mobile-search search-input w-100 f-s-14"
      :placeholder="$t('Search for diets, brands, or products...')"
      type="text"
      v-model="search"
      @input="makeSearch"
      @focus="openSearchBox"
    >
    <div class="hidden-tablet hidden-disk flex middle-xs">
      <button
        type="button"
        class="bg-cl-transparent brdr-none inline-flex p10"
        @click="toggleSearchpanel"
      >
        <img src="/assets/icons/search.svg" alt="">
      </button>
      <!-- <div
        class="search-group flex brdr-1 brdr-cl-gray-CCCCCC ml10"
        v-if="isMobileSearch"
      >
        <input
          class="search-input w-100 f-s-14 cl-gray-CCCCCC"
          :placeholder="$t('Search Somthing here')"
          type="search"
          autofocus="true"
          v-model="search"
          @input="makeSearch"
        />
        <i class="material-icons search-icons cl-green-95BF47">search</i>
      </div>
      <button
        @click="openMobileSearchBox"
        v-if="isMobileSearch"
        class="close-search brdr-none bg-cl-blue-02AFCE cl-white flex center-xs"
      >
        <i class="modal-close material-icons pointer">close</i>
      </button>isSeachBoxOpen -->
    </div>
    <div class="search-lists" v-if="isSeachBoxOpen">
      <div class="search-result-block" @click="closeSearchBox">
        <search-result :search-result="visibleProducts" />
      </div>
    </div>
    <div class="overlay-fixed w-100" @click="closeSearchBox" v-if="isVisible" />
    <div class="close-search" @click="closeSearchBox" v-if="isVisible" />
  </div>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon';
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel';
import SearchResult from './SearchResults';
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'
export default {
  mixins: [SearchIcon, SearchPanel],
  components: {
    SearchResult
  },
  props: {
    isMobileSearch: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      isSeachBoxOpen: false,
      isVisible: false,
      searchClass: null
    };
  },
  watch: {
    $route (to, from) {
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || [];
      return productList;
    }
  },
  methods: {
    openSearchBox () {
      this.isVisible = !this.isVisible;
      this.isSeachBoxOpen = !this.isSeachBoxOpen;
      this.searchClass = 'focus'
      disableBodyScroll(this.$refs['modal']);
    },
    closeSearchBox () {
      clearAllBodyScrollLocks(false);
      this.isVisible = false;
      this.isSeachBoxOpen = false;
      this.searchClass = null;
    },
    openMobileSearchBox () {
      this.$bus.$emit('open-search-input');
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
@import "~theme/css/base/global_vars";
$cl-D8D8D8: color(gray-D8D8D8);
$gray-aaa: color(gray-AAAAAA);
$bg-cl-eaeaec: color(black-EAEAEC);
$color-bg: color(black);
$z-index-overlay: map-get($z-index, overlay);

.search-group {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  height: 47px;
  input {
    border: none;
    height: auto !important;
    line-height: normal !important;
    padding-left: 20px;
    outline: 0;
    background-color: transparent;
    &::placeholder {
      color: $gray-aaa;
    }
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  .search-icons {
    padding: 13px 12px;
    position: relative;
    img{
      display: block;
    }
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 1px;
      background-color: $cl-D8D8D8;
    }
  }
}
.overlay {
  height: 100vh;
  top: 0;
  left: 0;
  z-index: $z-index-overlay;
}
.head-search{
  z-index: 9;
  position: relative;
}
.search-lists {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 124px;
  left: 50%;
  height: auto;
  max-width: 893px;
  transform: translate(-50%, 0);
  .search-result-block{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 893px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99999;
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 160px;
      right: 0;
      width: 20px;
      height: 20px;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      background: #fff;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
  /*&::before {
    content: '';
    position: absolute;
    left: 0;
    top: 37px;
    height: 100%;
    width: 100%;
    background: rgba(45, 36, 45, 0.7);
  }*/
  /*@media only screen and (min-width: 768px) and (max-width: 991px) {
    width: 610px;
  }*/
  @media (max-width: 992px) {
    top: 72px;
    .search-result-block{
      max-width:94%;
    }
  }
}
.overlay-fixed{
  position: absolute;
  left: 0;
  top: 161px;
  height: 100vh;
  width: 100%;
  background: rgba(45, 36, 45, 0.7);
  @media (max-width: 1280px) {
    top: 180px;
  }
  @media (max-width: 992px) {
    top: 63px;
  }
}
/*@media (max-width: 767px) {
  .close-search {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 5px;
  }
}*/
.close-search{
  position: absolute;
  height: 182px;
  top: 0px;
  left: 0;
  width: 100%;
  background:transparent;
  opacity: 0.01;
}
@media (max-width: 992px) {
  .search-lists{
    .search-result-block{
      max-height: 305px;
      .search-results{
        overflow: scroll;
        height: 305px;
      }
    }
    &:before{
      top: -17px;
    }
  }
}
</style>
