<template>
  <modal name="modal-signup" :width="430">
    <div class="signup-popup">
      <SignUpTabs class="">
        <SignUpTab :title="$t('Login')">
          <login />
          <forgot-pass v-if="activeElem === 'forgot-pass'" />
        </SignUpTab>
        <SignUpTab :title="$t('Register')">
          <register />
        </SignUpTab>
      </SignUpTabs>
    </div>
  </modal>
</template>

<script>
import { mapState } from 'vuex'
import Modal from 'theme/components/core/Modal'
import Login from 'theme/components/core/blocks/Auth/Login'
import Register from 'theme/components/core/blocks/Auth/Register'
import ForgotPass from 'theme/components/core/blocks/Auth/ForgotPass'
import SignUpTab from 'theme/components/core/blocks/Auth/SignUpTab.vue'
import SignUpTabs from 'theme/components/core/blocks/Auth/SignUpTabs.vue'

export default {
  name: 'SignUp',
  computed: {
    ...mapState({
      activeElem: state => state.ui.authElem
    })
  },
  components: {
    Modal,
    Login,
    Register,
    ForgotPass,
    SignUpTab,
    SignUpTabs
  }
}
</script>

<style lang="scss" scoped>
  .modal {
    font-size: 18px;
  }
</style>
<style lang="scss">
  @import "~theme/css/variables/colors";
  @import "~theme/css/helpers/functions/color";
  @import "~theme/css/blocks/signup";
</style>
