<template>
  <div id="contact" class="bg-cl-white-F5F5F5 relative">
    <div class="container pt40 pb25">
      <div class="d-flex between-xs top-xs">
        <div class="bg-cl-white border-r contact-form">
          <div class="page-title">
            <h2>Get in touch</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <ContactForm />
        </div>
        <div class="bg-cl-white border-r contact-info">
          <div class="flex info-box-wrap">
            <div class="box-icon">
              <img src="/assets/icons/DeliveryDetails-hover.svg" alt="">
            </div>
            <div class="box-info">
              <h4>Address:</h4>
              <p>4126 Bryan Avenue, Roseville,<br> MN, Minnesota, 55113</p>
            </div>
          </div>
          <div class="flex info-box-wrap">
            <div class="box-icon">
              <img src="/assets/icons/call.svg" alt="">
            </div>
            <div class="box-info">
              <h4>Phone:</h4>
              <p>(00) 123-456-789</p>
            </div>
          </div>
          <div class="flex info-box-wrap">
            <div class="box-icon">
              <img src="/assets/icons/Newsletter-hover.svg" alt="">
            </div>
            <div class="box-info">
              <h4>Email:</h4>
              <p><a href="mailto:hello@figs.market">hello@figs.market</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from 'theme/components/core/ContactForm'

export default {
  components: {
    ContactForm
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$border-primary: color(primary, $colors-border);
</style>

<style lang="scss">
@import '~theme/css/blocks/contact';
</style>
