<template>
  <div id="home" class="bg-cl-white-F5F5F5">
    <head-image />

    <product-listing-slider class="" :title="$t('Featured Products')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'featured-products'" :pagination-enabled="false" :productsList="saveUptoProduct" />

    <product-category-slider class="category-square" :title="$t('Shop By Diet & Lifestyle')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'home-just-arrived-products'" :pagination-enabled="false" :productsList="trendingCategory" />

    <product-listing-slider class="" :title="$t('New Arrival')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'newArrival'" :pagination-enabled="false" :productsList="topSelection" />

    <home-static-block />

    <product-listing-slider class="best-seller-products" :title="$t('Best Seller Products')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'bestSellerProducts'" :pagination-enabled="false" :productsList="saveUptoProduct" />

    <HomeImageWithText />

    <product-category-slider class="category-circle" :title="$t('Shop By Category')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'shopByCategory'" :pagination-enabled="false" :productsList="trendingCategory" />

    <product-listing-slider class="recently-viewed" :title="$t('Recently Viewed Products')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'home-just-arrived-products'" :pagination-enabled="false" :productsList="saveUptoProduct" />

    <Onboard />
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
// import LazyHydrate from 'vue-lazy-hydration'

// Core pages
import Home from '@vue-storefront/core/pages/Home'
// Theme core components
// import ProductListing from 'theme/components/core/ProductListing'
import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
// import ShippingInfo from 'theme/components/core/blocks/MainSlider/ShippingInfo'
// import NewArrival from 'theme/components/core/blocks/Product/NewArrival'
// Theme local components
import Onboard from 'theme/components/theme/blocks/Home/Onboard'
// import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
// import TileLinks from 'theme/components/theme/blocks/TileLinks/TileLinks'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import HomeStaticBlock from 'theme/components/theme/blocks/Static/HomeStaticBlock'
import HomeImageWithText from 'theme/components/theme/blocks/Static/HomeImageWithText'
import ProductListingSlider from 'theme/components/core/blocks/Product/ProductListingSlider'
import ProductCategorySlider from 'theme/components/core/blocks/Product/ProductCategorySlider'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'

export default {
  data () {
    return {
      loading: true,
      saveUptoCatID: config.aureatelabs.SaveUpto.value,
      saveUptoProduct: [],
      topSelection: [],
      trendingCategoryConfig: config.aureatelabs.trendingCategory.values,
      catMageUrl: config.aureatelabs.categoryUrl.path,
      trendingCategory: []
    }
  },
  mixins: [Home],
  components: {
    HeadImage,
    Onboard,
    // ShippingInfo,
    // NewArrival,
    HomeStaticBlock,
    HomeImageWithText,
    ProductListingSlider,
    ProductCategorySlider
    // ProductListing,
    // PromotedOffers,
    // TileLinks,
    // LazyHydrate
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    categories () {
      return this.getCategories
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  async mounted () {
    let newProductsQuery = prepareQuery({ filters: [{ 'key': 'category_ids', 'value': { 'eq': 26 } }] })
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery,
      size: 10
    });

    this.saveUptoProduct = newProductsResult.items.length > 0 ? newProductsResult.items : [];

    let childCatData = await this.$store.dispatch('category/list', {
      key: 'id',
      value: this.trendingCategoryConfig
    });
    this.trendingCategory = childCatData.items.length > 0 ? childCatData.items : [];

    let newArrivalQuery = prepareQuery({ queryConfig: 'newProducts' });
    const newArrivalResult = await this.$store.dispatch('product/list', {
      query: newArrivalQuery,
      size: 10
    });
    this.topSelection = newArrivalResult.items.length > 0 ? newArrivalResult.items : [];

    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  },
  // mounted () {
  //   if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  // },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers')
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
  .new-collection {
    @media (max-width: 767px) {
      padding-top: 0;
    }
  }
</style>
<style lang="scss">
@import "~theme/css/blocks/home";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";

$white: color(white);

$whiteDEDFDE: color(white-DEDFDE);
.category-square{
  .category-item{
    text-align: center;
    background: $white;
    border-radius: 6px;
    .item-img{
      display:inline-block;
      img{
        display:block;
        max-width:100%;
      }
    }
    p{
      padding-bottom: 25px;
    }
  }
}
.category-circle{
  .category-item{
    text-align: center;
    .item-img{
      display:inline-block;
      img{
        display:block;
        max-width:100%;
      }
    }
    p{
      padding-top: 15px;
    }
  }
}
.VueCarousel-slide.hover-on-product {
  border: 1px solid transparent;
  padding-right: 5px;
  padding-left: 5px;
  .item-box{
    background: $white;
    border-radius: 6px;
  }
  .product:hover {
    background: $white;
    /*box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);*/
    border-radius: 6px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
}
</style>
