<template>
  <div id="my_account" class="bg-cl-white-F5F5F5 relative">
    <!--<div class="bg-cl-secondary py35 pl20">
      <div class="container">
        <breadcrumbs
          :with-homepage="true"
          :routes="[]"
          active-route="My Account"
        />
        <h1>
          {{ $t('My Account') }}
        </h1>
      </div>
    </div>-->

    <div class="container pt40 pb70">
      <div class="d-flex between-xs pt0">
        <div class="mobile-menu hidden-md f-s-14 weight-600" @click="active" :class="{active: isActive}">
          <span>
            {{ mobileActiveMenuTxt }}
          </span>
        </div>
        <div class="account-menu hidden-sm block" :class="{active: isActive}">
          <nav class="static-menu shaded-box">
            <ul class="m0 p0">
              <li v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
                <router-link :to="localizedRoute(page.link)" @click.native="updateMobileMenuTxt(page.title)" class="cl-accent flex middle-xs mb35" :class="page.class">
                  <span>{{ page.title }}</span>
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="account-information ml30">
          <div class="shaded-box">
            <no-ssr>
              <component :is="this.$props.activeBlock" />
            </no-ssr>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyAccount from '@vue-storefront/core/pages/MyAccount'
import Breadcrumbs from '../components/core/Breadcrumbs'
import MyWishlist from '../components/core/blocks/MyAccount/MyWishlist'
import MyProfile from '../components/core/blocks/MyAccount/MyProfile'
import MyShippingDetails from '../components/core/blocks/MyAccount/MyShippingDetails'
import MyNewsletter from '../components/core/blocks/MyAccount/MyNewsletter'
import MyOrders from '../components/core/blocks/MyAccount/MyOrders'
import MyOrder from '../components/core/blocks/MyAccount/MyOrder'
import MyRecentlyViewed from '../components/core/blocks/MyAccount/MyRecentlyViewed'
import NoSSR from 'vue-no-ssr'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule } from '@vue-storefront/core/lib/modules'

export default {
  data () {
    return {
      navigation: [
        { title: this.$t('My Profile'), link: '/my-account', class: 'profile-title' },
        { title: this.$t('Address Book'), link: '/my-account/shipping-details', class: 'shipping-title' },
        { title: this.$t('My List'), link: '/my-account/my-wishlist', class: 'my-list' },
        { title: this.$t('Newsletter'), link: '/my-account/newsletter', class: 'newsletter-title' },
        { title: this.$t('My Order'), link: '/my-account/orders', class: 'order-title' },
        // { title: this.$t('My loyalty card'), link: '#' },
        // { title: this.$t('My product reviews'), link: '#' },
        { title: this.$t('Recently viewed Products'), link: '/my-account/recently-viewed', class: 'recently-title' }
      ],
      isActive: false,
      mobileActiveMenuTxt: this.$t('My profile')
    }
  },
  components: {
    Breadcrumbs,
    MyProfile,
    MyWishlist,
    MyShippingDetails,
    MyNewsletter,
    MyOrders,
    MyOrder,
    MyRecentlyViewed,
    'no-ssr': NoSSR
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  mixins: [MyAccount],
  mounted () {
    const navigation = this.navigation;
    navigation.forEach((nav) => {
      if (nav.link === this.$router.history.current.path) {
        this.mobileActiveMenuTxt = nav.title;
      }
    });
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    active: function () {
      this.isActive = !this.isActive;
    },
    updateMobileMenuTxt (mobilemenutxt) {
      this.mobileActiveMenuTxt = mobilemenutxt;
      if (window.matchMedia('(max-width: 767px)').matches) {
        this.isActive = !this.isActive;
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);

.static-menu {
  ul {
    list-style: none;
    li{
      &:last-child{
        a{
          margin-bottom: 0px;
        }
      }
    }
  }

  a {
    /*&:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-tertiary;
    }

    &:hover,
    &.router-link-exact-active {
      &:after {
        opacity: 0;
      }
    }*/
  }
}
</style>
<style lang="scss">
  @import '~theme/css/blocks/myaccount';
</style>
