<template>
  <div id="page_not_found" class="error-page">
    <section class="bg-cl-white-F5F5F5 py35 px20">
      <div class="container">
        <div class="error-section">
          <h2>
            {{ $t("ERROR 404 NOT FOUND") }}
          </h2>
          <p>
            {{ $t("The page you are looking for might have been removed had its name changed or is temporarily unavailable.") }}
          </p>
          <router-link :to="localizedRoute('/')" class="atc-btn button-full">
              {{ $t('Go to HomePage') }}
          </router-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Logger } from '@vue-storefront/core/lib/logger'
import i18n from '@vue-storefront/i18n'
import LazyHydrate from 'vue-lazy-hydration'
import ProductTile from '../components/core/ProductTile.vue'

export default {
  name: 'PageNotFound',
  computed: {
    ...mapGetters({
      ourBestsellersCollection: 'homepage/getBestsellers'
    })
  },
  async asyncData ({ store, route, context }) {
    Logger.log('Entering asyncData for PageNotFound ' + new Date())()
    if (context) {
      context.output.cacheTags.add(`page-not-found`)
      context.server.response.statusCode = 404
    }

    await store.dispatch('homepage/loadBestsellers')
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || i18n.t('404 Page Not Found'),
      meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: this.$route.meta.description }] : []
    }
  },
  components: {
    LazyHydrate
  },
  methods: {
    toggleSearchpanel () {
      this.$store.commit('ui/setSearchpanel', true)
    }
  }
}
</script>

<style lang="scss" scoped>
  .error-section{
    max-width: 740px;
    margin: 0 auto;
    background: #fff;
    padding: 80px;
    text-align: center;
    border-radius: 6px;
    h2{
      font-size: 30px;
      margin:0px;
    }
    p{
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      margin: 0;
      padding: 15px 0 40px;
    }
    a{
      text-transform: uppercase;
      text-decoration: none;
      padding: 15px 35px;
      display: inline-flex;
      text-align: center;
      max-width: 220px;
    }
    @media (max-width: 767px) {
      padding: 35px;
      h2{
        font-size: 18px;
      }
      p{
        font-size: 13px;
        padding-bottom: 30px;
      }
      a{
        font-size: 14px;
        max-width: 198px;
      }
    }
  }
  .error-page{
    @media (max-width: 767px) {
      section{
        padding-bottom: 0px;
      }
    }
  }
</style>
