<template>
  <div id="product" class="bg-cl-white-F5F5F5" itemscope itemtype="http://schema.org/Product">
    <section class="px20 pb40 product-top-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <breadcrumbs
              class="pt40 pb30"
            />
          </div>
        </div>
        <section class="row between-xs top-section-data">
          <div class="col-xs-12 col-md-6 center-xs middle-xs image">
            <no-ssr>
              <product-thumb-gallery
                :offline="getOfflineImage"
                :gallery="getProductGallery"
                :configuration="getCurrentProductConfiguration"
                :product-name="getCurrentProduct.name"
                :product="getCurrentProduct"
              />
            </no-ssr>
          </div>
          <div class="col-xs-12 col-md-6 data">
            <div class="product-title-sec bg-cl-white">
              <div class="author-name f-s-18 weight-600 underline mb10">
                {{ $t('Simply 7') }}
              </div>
              <h1
                class="mb5 mt0 f-s-26 cl-black-2D242D product-name"
                data-testid="productName"
                itemprop="name"
              >
                {{ getCurrentProduct.name | htmlDecode }}
                <web-share
                  :title="getCurrentProduct.name | htmlDecode"
                  text="Check this product!"
                  class="web-share"
                />
              </h1>
              <span class="product-weight">{{ $t('250g') }}</span>
              <!-- <div
                class="mb20 uppercase cl-secondary"
                itemprop="sku"
                :content="getCurrentProduct.sku"
              >
                {{ $t('SKU: {sku}', { sku: getCurrentProduct.sku }) }}
              </div> -->
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" :content="$store.state.storeView.i18n.currencyCode">
                <meta itemprop="price" :content="parseFloat(getCurrentProduct.price_incl_tax).toFixed(2)">
                <meta itemprop="availability" :content="structuredData.availability">
                <meta itemprop="url" :content="getCurrentProduct.url_path">
                <product-price
                  class="pd-price"
                  v-if="getCurrentProduct.type_id !== 'grouped'"
                  :product="getCurrentProduct"
                  :custom-options="getCurrentCustomOptions"
                />
                <div class="product-review-star middle-xs pt25 pb25">
                  <div class="star-row">
                    <span class="star checked" />
                    <span class="star checked" />
                    <span class="star checked" />
                    <span class="star checked" />
                    <span class="star" />
                  </div>
                  <span class="cl-black-2D242D f-s-14">{{ '3 Customer Review(s)' }}</span>
                </div>
                <div class="flex m0 middle-xs">
                  <product-quantity
                    class=""
                    v-if="getCurrentProduct.type_id !== 'grouped' && getCurrentProduct.type_id !== 'bundle'"
                    v-model="getCurrentProduct.qty"
                    :max-quantity="maxQuantity"
                    :loading="isStockInfoLoading"
                    :is-simple-or-configurable="isSimpleOrConfigurable"
                    :show-quantity="manageQuantity"
                    :check-max-quantity="manageQuantity"
                    @error="handleQuantityError"
                  />
                  <add-to-cart
                    :product="getCurrentProduct"
                    :disabled="isAddToCartDisabled"
                    class="btn-add-to-cart max190"
                  />
                  <div class="pl15">
                    <AddToWishlist :product="getCurrentProduct" />
                  </div>
                </div>
                <tabs class="mt30">
                  <tab :title="$t('Description')">
                    <div class="lh30 h5 description" itemprop="description" v-html="getCurrentProduct.description" />
                  </tab>
                  <tab :title="$t('Additional Info')">
                    <ul class="attributes p0 m0">
                      <product-attribute
                        :key="attr.attribute_code"
                        v-for="attr in getCustomAttributes"
                        :product="getCurrentProduct"
                        :attribute="attr"
                        empty-placeholder="N/A"
                      />
                    </ul>
                  </tab>
                </tabs>
                <!--<div class="cl-primary variants" v-if="getCurrentProduct.type_id =='configurable'">
                  <div
                    class="error"
                    v-if="getCurrentProduct.errors && Object.keys(getCurrentProduct.errors).length > 0"
                  >
                    {{ getCurrentProduct.errors | formatProductMessages }}
                  </div>
                  <div class="h5" v-for="option in getProductOptions" :key="option.id">
                    <div class="variants-label" data-testid="variantsLabel">
                      {{ option.label }}
                      <span
                        class="weight-700"
                      >{{ getOptionLabel(option) }}</span>
                    </div>
                    <div class="row top-xs m0 pt15 pb40 variants-wrapper">
                      <div v-if="option.label == 'Color'">
                        <color-selector
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <div class="sizes" v-else-if="option.label == 'Size'">
                        <size-selector
                          class="mr10 mb10"
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <div :class="option.attribute_code" v-else>
                        <generic-selector
                          class="mr10 mb10"
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <span
                        v-if="option.label == 'Size'"
                        @click="openSizeGuide"
                        class="p0 ml30 inline-flex middle-xs no-underline h5 action size-guide pointer cl-secondary"
                      >
                        <i class="pr5 material-icons">accessibility</i>
                        <span>{{ $t('Size guide') }}</span>
                      </span>
                    </div>
                  </div>
                </div>-->
              </div>
              <product-links
                v-if="getCurrentProduct.type_id =='grouped'"
                :products="getCurrentProduct.product_links"
              />
              <product-bundle-options
                v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
                :product="getCurrentProduct"
              />
              <product-custom-options
                v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
                :product="getCurrentProduct"
              />
              <!--<div class="row m0 py40 add-to-buttons">
                <div class="col-xs-6 col-sm-3 col-md-6">
                  <AddToCompare :product="getCurrentProduct" />
                </div>
              </div>-->
            </div>
          </div>
        </section>
      </div>
    </section>
    <lazy-hydrate when-idle>
      <reviews
        :product-name="getOriginalProduct.name"
        :product-id="getOriginalProduct.id"
        v-show="isOnline"
      />
    </lazy-hydrate>
    <product-listing-slider class="recently-viewed" :title="$t('Recently Viewed Products')" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'home-just-arrived-products'" :pagination-enabled="false" :productsList="saveUptoProduct" />
    <!-- <lazy-hydrate when-idle>
      <related-products type="upsell" :heading="$t('We found other products you might like')" />
    </lazy-hydrate>
    <lazy-hydrate when-idle>
      <promoted-offers single-banner />
    </lazy-hydrate>
    <lazy-hydrate when-idle>
      <related-products type="related" />
    </lazy-hydrate> -->
    <!-- <SizeGuide /> -->
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import VueOfflineMixin from 'vue-offline/mixin'
import config from 'config'
import Reviews from 'theme/components/core/blocks/Reviews/Reviews.vue'
import AddToCart from 'theme/components/core/AddToCart.vue'
// import GenericSelector from 'theme/components/core/GenericSelector'
// import ColorSelector from 'theme/components/core/ColorSelector.vue'
// import SizeSelector from 'theme/components/core/SizeSelector.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import ProductAttribute from 'theme/components/core/ProductAttribute.vue'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductLinks from 'theme/components/core/ProductLinks.vue'
import ProductCustomOptions from 'theme/components/core/ProductCustomOptions.vue'
import ProductBundleOptions from 'theme/components/core/ProductBundleOptions.vue'
import ProductThumbGallery from 'theme/components/core/ProductThumbGallery'
// import ProductGallery from 'theme/components/core/ProductGallery'
import Spinner from 'theme/components/core/Spinner'
// import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
import focusClean from 'theme/components/theme/directives/focusClean'
import WebShare from 'theme/components/theme/WebShare'
import BaseInputNumber from 'theme/components/core/blocks/Form/BaseInputNumber'
// import SizeGuide from 'theme/components/core/blocks/Product/SizeGuide'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
// import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { mapGetters } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice.vue'
import Tab from 'theme/components/theme/Tab.vue'
import Tabs from 'theme/components/theme/Tabs.vue'
import NoSSR from 'vue-no-ssr'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'
import ProductListingSlider from 'theme/components/core/blocks/Product/ProductListingSlider'

export default {
  components: {
    AddToCart,
    // AddToCompare,
    AddToWishlist,
    Breadcrumbs,
    // ColorSelector,
    // GenericSelector,
    ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    ProductThumbGallery,
    // ProductGallery,
    ProductLinks,
    // PromotedOffers,
    Reviews,
    // SizeSelector,
    WebShare,
    // SizeGuide,
    LazyHydrate,
    ProductQuantity,
    ProductPrice,
    ProductListingSlider,
    Tab,
    Tabs,
    'no-ssr': NoSSR
  },
  mixins: [ProductOption],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      saveUptoProduct: []
    }
  },
  computed: {
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      getOriginalProduct: 'product/getOriginalProduct',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions'
    }),
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    structuredData () {
      return {
        availability: this.getCurrentProduct.stock && this.getCurrentProduct.stock.is_in_stock ? 'InStock' : 'OutOfStock'
      }
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode).filter(a => {
        return a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
      }).sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    }
  },
  async mounted () {
    let newProductsQuery = prepareQuery({ filters: [{ 'key': 'category_ids', 'value': { 'eq': 26 } }] })
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery,
      size: 10
    });
    this.saveUptoProduct =
    newProductsResult.items.length > 0 ? newProductsResult.items : [];

    await this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        vm.getQuantity()
      })
    }
  },
  watch: {
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    }
  },
  methods: {
    showDetails (event) {
      this.detailsOpen = true
      event.target.classList.add('hidden')
    },
    notifyOutStock () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(
          'The product is out of stock and cannot be added to the cart!'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    changeFilter (variant) {
      this.$bus.$emit(
        'filter-changed-product',
        Object.assign({ attribute_code: variant.type }, variant)
      )
      this.getQuantity()
    },
    openSizeGuide () {
      this.$bus.$emit('modal-show', 'modal-sizeguide')
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })

        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.qty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    return {
      link: [
        { rel: 'amphtml',
          href: this.$router.resolve(localizedRoute({
            name: this.getCurrentProduct.type_id + '-product-amp',
            params: {
              parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
              slug: this.getCurrentProduct.slug,
              childSku: this.getCurrentProduct.sku
            }
          }, storeView.storeCode)).href
        }
      ],
      title: htmlDecode(this.getCurrentProduct.meta_title || this.getCurrentProduct.name),
      meta: this.getCurrentProduct.meta_description ? [{ vmid: 'description', name: 'description', content: htmlDecode(this.getCurrentProduct.meta_description) }] : []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$color-green: color(green-95BF47);
$bg-secondary: color(secondary, $colors-background);
$black-2D242D: color(black-2D242D);

.product-top-section {
  .product-title-sec {
    .btn-add-to-cart {
      min-width: unset;
      background:$black-2D242D;
      border-radius: 4px;
      border: 1px solid $black-2D242D !important;
      color: $color-white;
      line-height: 1;
      padding-top: 14px;
      padding-bottom: 14px;
      font-weight: 700;
      text-transform: uppercase;

      /*&:hover {
        background-color: transparent;
        color: $color-green;
      }*/
    }
  }

  .media-gallery {
    align-items: flex-start;
  }
}

.product {
  &__add-to-compare {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}

.breadcrumbs {
  @media (max-width: 767px) {
    margin: 15px 0;
    padding: 15px 0 0 15px;
  }
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 15px;
}

/*.image {
  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}*/

.product-name {
  @media (max-width: 767px) {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.variants-label {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.variants-wrapper {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  .sizes {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .size-guide {
    height: 40px;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.product-top-section {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.add-to-buttons {
  @media (max-width: 767px) {
    padding-top: 30px;
  }
}

.details {
  @media (max-width: 767px) {
    padding: 50px 15px 15px;
  }
}

.details-title {
  padding: 0 8px;

  @media (max-width: 767px) {
    font-size: 18px;
    margin: 0;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
  }

  &--open {
    max-height: none;
  }
}

.details-overlay {
  @media (max-width: 767px) {
    position: absolute;
    height: 75%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
    background: linear-gradient(rgba($color-white, 0), rgba($color-white, 1));
    &.hidden {
      display: none;
    }
  }
}

.action {
  &:hover {
    color: $color-tertiary;
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.product-image {
  mix-blend-mode: multiply;
  width: 460px;
}

.web-share {
  float: right;
}
.max190{
  max-width: 190px;
}
</style>
