<template>
  <div class="sidebar-menu fixed mw-100 bg-cl-white">
    <!--<div class="close-menu" @click="login">
      <img src="/assets/icons/menu-mobile.svg" alt="settings">
    </div>-->
    <div class="bg-cl-black-2D242D px20">
      <div class="login-info flex middle-xs py15 w-100">
        <div
          class="user-img bg-cl-white mr15"
          :style="{ backgroundImage: 'url(/assets/icons/user-menu.svg)' }"
        />
        <div class="user-gn f-s-16">
          <p class="g-text p0 m0 cl-white a-regular">
            {{ "Hello" }},
          </p>
          <p class="u-name p0 m0 cl-white weight-700">
            {{ userFullname }}
          </p>
        </div>
        <div class="user-setting" @click="login">
          <img src="/assets/icons/tools-and-utensils.svg" alt="settings">
        </div>
      </div>
    </div>
    <div class="sidebar-menu__container" ref="container">
      <div class="sidebar-menu-main">
        <div v-if="submenu.depth" class="back-btn bg-cl-gray-F5F5F5 mb10">
          <sub-btn
            type="icon-text"
            :name="'Main Category'"
            class="bg-cl-transparent brdr-none flex middle-xs f-s-15 weight-600"
          />
        </div>
        <ul
          class="p0 m0 relative sidebar-menu__list"
          :style="mainListStyles"
          :class="{ mt15: !mainListStyles }"
        >
          <li
            class="flex"
            :key="category.slug"
            @click="closeMenu"
            v-for="category in visibleCategories"
          >
            <div v-if="isCurrentMenuShowed" class="subcategory-item">
              <sub-btn
                v-if="category.children_count > 0"
                class="bg-cl-transparent brdr-none"
                :id="category.id"
                :name="category.name"
              />
              <router-link
                v-else
                class="px25 f-s-15 py20 cl-black-2D242D no-underline col-xs"
                :to="categoryLink(category)"
              >
                {{ category.name }}
              </router-link>
            </div>

            <sub-category
              :category-links="category.children_data"
              :id="category.id"
              :parent-slug="category.slug"
              :parent-path="category.url_path"
            />
          </li>
          <!-- <li
            v-if="isCurrentMenuShowed"
            @click="closeMenu"
          >
            <router-link
              class="block px25 py20 brdr-bottom-1 brdr-cl-secondary cl-accent no-underline fs-medium-small"
              :to="localizedRoute('/sale')"
              exact
            >
              {{ $t('Sale') }}
            </router-link>
          </li>
          <li
            v-if="isCurrentMenuShowed"
            @click="closeMenu"
            class="bg-cl-secondary"
          >
            <router-link
              class="block px25 py20 brdr-bottom-1 brdr-cl-secondary cl-accent no-underline fs-medium-small"
              :to="localizedRoute('/magazine')"
              exact
            >
              {{ $t('Magazine') }}
            </router-link>
          </li>
          <li
            v-if="compareIsActive && isCurrentMenuShowed"
            @click="closeMenu"
            class="bg-cl-secondary"
          >
            <router-link
              class="block px25 py20 brdr-bottom-1 brdr-cl-secondary cl-accent no-underline fs-medium-small"
              :to="localizedRoute('/compare')"
              exact
            >
              {{ $t('Compare products') }}
            </router-link>
          </li>
          <li
            @click="login"
            class="brdr-bottom-1 brdr-cl-secondary bg-cl-secondary flex"
          >
            <sub-btn
              v-if="currentUser"
              id="my-account-links"
              :is-category="false"
              :name="$t('My account')"
              class="bg-cl-transparent brdr-none fs-medium-small"
            />
            <sub-category
              v-if="currentUser"
              :my-account-links="myAccountLinks"
              id="my-account-links"
              @click.native="closeMenu"
            />
            <a
              v-if="!currentUser && isCurrentMenuShowed"
              href="#"
              @click.prevent="closeMenu"
              class="block w-100 px25 py20 cl-accent no-underline fs-medium-small"
            >
              {{ $t('My account') }}
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <!--<div class="bottom-img-sec py35" v-if="!mainListStyles">
      <div class="cat-img relative">
        <img src="/assets/categort-img.png" />
        <div class="img-text bg-cl-white">
          <span class="a-bold f-s-14 cl-black-27272F">
            {{'Fresh Vegetable'}}
          </span>
          <router-link to="/" class="f-s-12 cl-green-95BF47 block">
            {{'View all products'}}<i class="material-icons f-s-12">arrow_forward</i>
          </router-link>
        </div>
      </div>
    </div>-->
    <div class="bottom-section py25 px25">
      <top-header-bar />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import i18n from '@vue-storefront/i18n';
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu';
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn';
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory';
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock';
import TopHeaderBar from 'theme/components/theme/blocks/TopHeaderBar';
export default {
  components: {
    SubCategory,
    SubBtn,
    TopHeaderBar
  },
  mixins: [SidebarMenu],
  data () {
    return {
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      componentLoaded: false
    };
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth
        ? `transform: translateX(${this.submenu.depth * 100}%)`
        : false;
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    getSubmenu () {
      return this.submenu;
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0;
      });
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth;
    },
    userFullname () {
      return this.isLogged
        ? this.currentUser.firstname + ' ' + this.currentUser.lastname
        : 'Guest';
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
      disableBodyScroll(this.$refs.container);
    });
  },
  destroyed () {
    clearAllBodyScrollLocks();
  },
  methods: {
    login () {
      if (!this.currentUser && this.isCurrentMenuShowed) {
        this.$nextTick(() => {
          this.closeMenu()
          this.$store.commit('ui/setAuthElem', 'login');
          this.$bus.$emit('modal-show', 'modal-signup');
          this.$router.push({ name: 'my-account' });
        });
      } else {
        this.closeMenu()
        this.$router.push(this.localizedRoute('/my-account'))
      }
    },
    categoryLink (category) {
      return formatCategoryLink(category);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$bg-secondary: color(secondary, $colors-background);
$gray-D8D8D8: color(gray-D8D8D8);
$color-matterhorn: color(matterhorn);
$black-2D242D: color(black-2D242D);

.sidebar-menu {
  height: 100vh;
  width: 340px;
  /*overflow: hidden;*/
  .close-menu{
    position: absolute;
    right: -25px;
    top: 30px;
  }
  @media (max-width: 767px) {
    width: 340px;
  }
  &__container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 55px);
  }

  &__list {
    transition: transform $duration-main $motion-main;
  }

  ul {
    list-style-type: none;
  }

  .bottom-img-sec {
    position: absolute;
    bottom: 90px;
    width: 100%;
    .cat-img {
      max-width: 100%;
      max-height: 100%;
      padding-left: 30px;
      padding-right: 30px;
      img {
        width:100%;
      }
      .img-text {
        width: 190px;
          text-align: center;
          border-radius: 12px;
          padding: 12px 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a {
          i {
            vertical-align: middle;
          }
        }
      }
    }
  }

  .subcategory-item {
    display: flex;
    width: 100%;
  }

  button {
    color: $black-2D242D;
    a {
      color: $black-2D242D;
    }
  }

  .close-btn {
    i {
      color: $gray-D8D8D8;
    }
    &:hover,
    &:focus {
      i {
        color: $color-matterhorn;
      }
    }
  }
}
.login-info {
  .user-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
.user-gn{
  text-transform: capitalize;
}
.user-setting {
  margin-left: auto;
}
</style>
<style lang="scss">
.bottom-section {
  background: #fbfbfb;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  .top-header {
    line-height: 22px;
    & > div {
      flex-direction: column;
    }
    display: block !important;
    .third {
      display: none !important;
    }
  }
}
.back-btn {
  button {
    i {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
.sidebar-menu-main{
  height: 100%;
}
</style>
