<template>
  <button
    v-if="type === 'next'"
    class="inline-flex between-xs w-100 pl30 py15 pr20 a-bold cl-black-2D242D f-s-15"
    type="button"
    @click.stop="next()"
    :aria-label="$t('Show subcategories')"
    data-testid="categoryButton"
  >
    {{ name }}
    <i class="material-icons cl-black-2D242D f-s-18">keyboard_arrow_right</i>
  </button>
  <button
    v-else-if="type === 'icon-text'"
    class="inline-flex p15 between-xs cl-black-2D242D"
    type="button"
    @click.stop="back()"
    :aria-label="$t('Back')"
  >
    <i class="material-icons cl-black-2D242D f-s-18">arrow_back</i>
    {{ name }}
  </button>
  <button
    v-else
    class="inline-flex p15 between-xs cl-black-2D242D"
    type="button"
    @click.stop="back()"
    :aria-label="$t('Back')"
  >
    {{ name }}
    <i class="material-icons cl-black-2D242D f-s-18">keyboard_arrow_left</i>
  </button>
</template>
<script>
import { mapState } from 'vuex'
import config from 'config'
export default {
  name: 'SubBtn',
  props: {
    id: {
      type: null,
      default: ''
    },
    type: {
      type: String,
      default: 'next'
    },
    name: {
      type: String,
      default: ''
    },
    isCategory: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapState({
      submenu: state => state.ui.submenu
    })
  },
  methods: {
    next () {
      if (config.entities.category.categoriesDynamicPrefetch && this.isCategory) this.$store.dispatch('category/list', { parent: this.id })
      this.$store.commit('ui/setSubmenu', {
        id: this.id,
        depth: ++this.submenu.depth
      })
    },
    back () {
      this.$store.commit('ui/setSubmenu', {
        depth: --this.submenu.depth
      })
    }
  }
}
</script>
