<template>
  <section class="head-image w-100 relative custom-carousel">
    <div class="home-slides">
      <no-ssr>
        <carousel
          :per-page="1"
          :mouse-drag="false"
          :pagination-enabled="false"
          :navigation-enabled="true"
          pagination-active-color="#828282"
          navigation-next-label="<img src='/assets/icons/next2.svg' alt='prev-icon' />"
          navigation-prev-label="<img src='/assets/icons/next2.svg' alt='next-icon' />"
          v-if="!isMobile"
        >
          <slide class="relative" :key="1">
            <div class="image-slide">
              <img src="/assets/hero-slide1.svg" alt="home slider" class="img-cover">
            </div>
          </slide>
          <!-- <slide class="relative" :key="2">
            <div class="image-slide">
              <img src="assets/group.png" alt="home slider" class="img-cover">
              <div class="img-content">
                <div class="container">
                  <p class="cl-green-95BF47 f-s-20 a-bold">
                    Exclusive Offer -10% Off This Week no work2
                  </p>
                  <div class="cl-black-2E2F30 fs55 mb25 a-light hero-text">
                    We <span class="a-bold">Provide</span> the <br>
                    Best Product <span class="a-bold">for you.</span>
                  </div>
                  <p class="cl-black-2E2F30 f-s-20 mb25 a-bold">
                    Starting at <span class="f-s-30 cl-green-95BF47">$30.00</span>
                  </p>
                  <a
                    href="/"
                    class="no-underline cl-white external_link bg-cl-green-95BF47 f-s-20 uppercase mt25 a-bold"
                  >{{ $t("Shopping now →") }}</a>
                </div>
              </div>
            </div>
          </slide> -->
        </carousel>
        <carousel
          :per-page="1"
          :mouse-drag="false"
          :pagination-enabled="false"
          :navigation-enabled="true"
          pagination-active-color="#828282"
          navigation-next-label="<img src='/assets/icons/next.svg' alt='next-icon' />"
          navigation-prev-label="<img src='/assets/icons/next.svg' alt='prev-icon' />"
          v-else
        >
          <slide class="relative" :key="1">
            <div class="image-slide">
              <img src="/assets/hero-slide1-mobile.svg" alt="home slider" class="img-cover">
            </div>
          </slide>
          <!-- <slide class="relative" :key="2">
            <div class="image-slide">
              <img src="assets/mobile-hero.png" alt="home slider" class="img-cover">
              <div class="img-content" :key="2">
                <div class="container">
                  <p class="cl-green-95BF47 f-s-20 a-bold">
                    Exclusive Offer -10% Off This Week no work4
                  </p>
                  <div class="cl-black-2E2F30 fs55 mb25 a-light hero-text">
                    We <span class="a-bold">Provide</span> the <br>
                    Best Product <span class="a-bold">for you.</span>
                  </div>
                  <p class="cl-black-2E2F30 f-s-20 mb25 a-bold">
                    Starting at <span class="f-s-30 cl-green-95BF47">$30.00</span>
                  </p>
                  <a
                    href="/"
                    class="no-underline cl-white external_link bg-cl-green-95BF47 f-s-20 uppercase mt25 a-bold pointer"
                  >{{ $t("Shopping now →") }}
                  </a>
                </div>
              </div>
            </div>
          </slide> -->
        </carousel>
      </no-ssr>
    </div>
    <shipping-info />
  </section>
</template>

<script>
// import ButtonOutline from 'theme/components/theme/ButtonOutline'
import NoSSR from 'vue-no-ssr';
import ShippingInfo from 'theme/components/core/blocks/MainSlider/ShippingInfo'
export default {
  components: {
    // ButtonOutline
    Carousel: () => import('vue-carousel').then(Slider => Slider.Carousel),
    Slide: () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR,
    ShippingInfo
  },
  data () {
    return {
      isMobile: false
    };
  },
  mounted () {
    this.checkIsMobileView()
    window.addEventListener('resize', this.checkIsMobileView)
  },
  methods: {
    checkIsMobileView () {
      this.isMobile = window.innerWidth <= 767
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
.img-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .container {
    @media (min-width: 768px) and (max-width: 915px) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}
.fs55 {
  font-size: 55px;
}
.home-slides {
  .image-slide {
    border-bottom: solid 1px $gray-D8D8D8;
    & > img {
      min-height: 600px;
    }
  }
}

@media (max-width: 767px) {
  .head-image {
    margin-bottom: 175px;
  }
  .custom-carousel {
    .home-slides {
      max-height: inherit;
    }
    .image-slide {
      img {
        width: 100%;
        height: auto;
      }
    }
    .img-content {
      top: 0;
      transform: translateY(0);
      text-align: center;
      padding-top: 25px;
    }
    .hero-text {
      font-size: 35px;
    }
    p {
      font-size: 14px;
      span {
        font-size: inherit;
      }
    }
    a.external_link {
      font-size: 16px;
      margin-top: 15px;
    }
  }
}

.external_link {
  border-radius: 4px;
  margin-top: 50px;
  padding: 18px 41px;
  display: inline-block;

}
</style>
<style lang="scss">
.head-image {
  margin-bottom: 50px;
  .VueCarousel-navigation {
    .VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(60%) !important;
      @media (max-width: 767px) {
        display: none;
      }
    }
    .VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(-60%) !important;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}
</style>
