<template>
  <div class="flex shipping-info py20">
    <div class="ship-inside flex middle-xs">
      <img src="/assets/icons/hand-dollar.svg" alt="Free shipping">
      <div class="ship-content">
        <p class="f-s-16 cl-black-2D242D uppercase weight-600">
          Free Shipping
        </p>
        <p class="f-s-16 cl-gray-969196 a-light">
          on 20 KD and Over
        </p>
      </div>
    </div>
    <div class="h-space" />
    <div class="ship-inside flex middle-xs">
      <img src="/assets/icons/truck.svg" alt="Money Return">
      <div class="ship-content">
        <p class="f-s-16 cl-black-2D242D uppercase weight-600">
          Same Day Delivery
        </p>
        <p class="f-s-16 cl-gray-969196 a-light">
          Orders before 6pm
        </p>
      </div>
    </div>
    <div class="h-space" />
    <div class="ship-inside flex middle-xs">
      <img src="/assets/icons/credit-card.png" alt="Online support">
      <div class="ship-content">
        <p class="f-s-16 cl-black-2D242D uppercase weight-600">
          Quick Checkout
        </p>
        <p class="f-s-16 cl-gray-969196 a-light">
          Faster payment methods
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ShippingInfo'
}
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$white: color(white);
$gray-E5E5E5: color(gray-E5E5E5);
.shipping-info {
  justify-content: space-between;
  border-radius: 14px;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.15);
  background: rgba($white, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  max-width: 1140px;
  margin: 0 auto;
  .ship-inside {
    padding: 0px 50px;
    @media (max-width: 991px) {
      padding: 0px 20px;
    }
  }
  @media (max-width: 1200px) {
    margin: 0 25px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    margin: 0 50px;
    padding: 0px 25px 0px 25px;
    .ship-inside {
      padding: 25px 0px 25px 0px;
    }
  }
}
.ship-content {
  margin-left: 20px;
  p {
    padding: 0;
    margin: 0;
  }
  @media (max-width: 767px) {
    p:nth-child(2) {
      font-size: 14px;
    }
  }
}
</style>
