<template>
  <div class="container mb10">
    <div class="gallery" v-if="blocks.length > 0">
      <div class="gallery__item" v-for="(block, index) of blocks" :key="index">
        <img
          :src="block.src"
          :alt="block.name"
          class="gallery__img"
          lazy="loading"
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HomeStaticBlock',
  data () {
    return {
      blocks: [
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/anna-pelzer-1.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/anna-pelzer-3.png'
        },
        {
          name: 'fresh-vegetable-salad',
          src: '/assets/blocks/anna-pelzer-2.png'
        }
      ]
    };
  }
};
</script>
<style lang="scss" scoped>
.gallery {
  line-height: 0;
   -webkit-column-count: 2;
   -webkit-column-gap:   40px;
   -moz-column-count:    2;
   -moz-column-gap:      40px;
   column-count:         2;
   column-gap:           40px;
}

.gallery__img {
 width: 100% !important;
  height: auto !important;
  margin-bottom: 40px;
  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .gallery {
   -webkit-column-count: 1;
   -moz-column-count:    1;
   column-count:         1;
  }
}

</style>
