<template>
  <div class="container mb50">
    <div class="imagewithtext">
      <div class="row middle-xs">
        <div class="col-md-6">
          <img src="assets/img-1.png" alt="">
        </div>
        <div class="col-md-6">
          <h4 class="m0 pb5 f-s-22 cl-black-2D242D">
            What is Lorem Ipsum?
          </h4>
          <p class="cl-gray-969196 pb30">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <button class="f-s-16 a-bold weight-500 p0">
            Start Shopping <span class="left-arrow-icon" />
          </button>
        </div>
      </div>
      <div class="row middle-xs reverse">
        <div class="col-md-6 align-right">
          <img src="assets/img-2.png" alt="">
        </div>
        <div class="col-md-6">
          <h4 class="m0 pb5 f-s-22 cl-black-2D242D">
            What is Lorem Ipsum?
          </h4>
          <p class="cl-gray-969196 pb30">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <button class="f-s-16 a-bold weight-500 p0">
            Start Shopping <span class="left-arrow-icon" />
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'HomeImageWithText'
};
</script>
<style lang="scss" scoped>
.container{
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}
</style>
