<template>
  <footer :class="{ 'brdr-top-1 brdr-cl-secondary': isCheckoutPage }">
    <div class="pt40 footer-news" v-if="!isCheckoutPage">
      <div class="newsletters relative middle-md between-xs pt20">
        <picture class="img-left">
          <source media="(max-width:767px)" srcset="/assets/newletter-left-mobile.png">
          <img src="/assets/newletter-left.png" alt="Flower">
        </picture>
        <newsletter class="flex brdr-top-1 brdr-cl-green-DAEA82" v-if="!isCheckoutPage" />
        <picture class="img-right">
          <source media="(max-width:767px)" srcset="/assets/newletter-right-mobile.png">
          <img src="/assets/newletter-right.png" alt="Flower">
        </picture>
      </div>
    </div>
    <div class="footer-links flex px40 bg-cl-black-2D242D" v-if="!isCheckoutPage">
      <div class="container pt51 pb57">
        <div class="row m0 footer-block">
          <div class="col-md-3 p0 align-left block-1">
            <FootLogo />
            <div class="site-info lh25 pt15">
              <p class="m0">
                <span class="f-s-14 cl-gray-969196">Email:</span>
                <a
                  href="mailto:hello@figs.market"
                  class="f-s-14 cl-white"
                >hello@figs.market</a>
              </p>
              <p class="m0">
                <span class="f-s-14 cl-gray-969196">Phone:</span>
                <a href="tel:123-456-789" class="f-s-14 cl-white">(00) 123-456-789</a>
              </p>
              <p class="m0">
                <span class="f-s-14 cl-gray-969196">Address:</span>
                <span class="f-s-14 cl-white">
                  4126 Bryan Avenue, Roseville,
                  <br> MN, Minnesota, 55113
                </span>
              </p>
            </div>
            <div class="pt20 pb10 social-icon">
              <a class="cl-white" href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram">
                <img src="/assets/icons/instagram.svg" alt="Instagram">
              </a>
              <a class="cl-white" href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Twitter">
                <img src="/assets/icons/twitter.svg" alt="Twitter">
              </a>
            </div>
          </div>
          <div class="col-md-3 block-2">
            <h3 class="cl-white f-s-16 a-bold relative visible-xs">
              {{ $t("Categories") }}
              <!--<span class="plus-icon" @click="openAccordian(1)">
                <i
                  class="fa"
                  :class="activeAcordian === 1 ? 'fa-minus' : 'fa-plus'"
                  aria-hidden="true"
                />
              </span>-->
            </h3>
            <div class="block-content fcontent-1 f-s-16 weight-500 pl30 ml50">
              <div class="mb15">
                <router-link
                  class="cl-white"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t('Return & Exchanges') }}
                </router-link>
              </div>
              <div class="mb15">
                <router-link
                  class="cl-white"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t('Privacy Policy') }}
                </router-link>
              </div>
              <div class="mb15">
                <router-link
                  class="cl-white"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t('Terms & Conditions') }}
                </router-link>
              </div>
              <div class="mb15">
                <router-link
                  class="cl-white"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t('Shipping Information') }}
                </router-link>
              </div>
              <div class="mb15">
                <router-link
                  class="cl-white"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t('Order Tracking') }}
                </router-link>
              </div>
              <div class="mb15">
                <router-link class="cl-white" :to="localizedRoute('/')" exact>
                  {{ $t('About Us') }}
                </router-link>
              </div>
              <div class="mb15">
                <router-link class="cl-white" :to="localizedRoute('/')" exact>
                  {{ $t('Sitemap') }}
                </router-link>
              </div>
            </div>
          </div>
          <div class="col-md-3 block-3">
            <h3 class="cl-white f-s-16 a-bold relative visible-xs">
              {{ $t('Store Name') }}
              <span class="plus-icon" @click="openAccordian(2)">
                <i
                  class="fa"
                  :class="activeAcordian === 2 ? 'fa-minus' : 'fa-plus'"
                  aria-hidden="true"
                />
              </span>
            </h3>
            <div class="block-content fcontent-2 f-s-16 weight-500 pl30">
              <div class="mb15">
                <router-link
                  class="cl-white"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t('Placed Orders') }}
                </router-link>
              </div>
              <div class="mb15">
                <router-link
                  class="cl-white"
                  :to="localizedRoute('/')"
                  exact
                >
                  {{ $t('Shopping list (Wishlist)') }}
                </router-link>
              </div>
              <div class="mb15">
                <router-link class="cl-white" :to="localizedRoute('/')" exact>
                  {{ $t('My Profile') }}
                </router-link>
              </div>
            </div>
          </div>
          <div class="col-md-3 block-4 end-md">
            <div class="payment-info">
              <p class="cl-white f-s-16 mt0 weight-500">
                Payment Mathod:
              </p>
              <div class="payment-methods">
                <img src="/assets/payment/knet.png" alt="Knet">
                <img src="/assets/payment/Mastercard.png" alt="Mastercard">
                <img src="/assets/payment/Visa.png" alt="Visa">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-cl-black-3A2F3A" v-if="!isCheckoutPage">
      <div class="container">
        <p class="align-center copyright-text cl-gray-969196 f-s-14 m0 pt18 pb20">
          @2020
          <router-link class="cl-gray-969196" :to="localizedRoute('/')" exact>
            {{ $t('Figs Market.') }}
          </router-link> All Rights Reseved
        </p>
      </div>
    </div>
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
      <button
        type="button"
        class="btn-top button no-outline brdr-none cl-white bg-cl-green-95BF47 py10 px10"
      >
        <svg
          width="24"
          height="24"
          xmlns="http://www.w3.org/2000/svg"
          fill-rule="evenodd"
          clip-rule="evenodd"
        >
          <path
            d="M23.245 20l-11.245-14.374-11.219 14.374-.781-.619 12-15.381 12 15.391-.755.609z"
            fill="white"
          />
        </svg>
      </button>
    </back-to-top>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex';
import {
  currentStoreView,
  localizedRoute
} from '@vue-storefront/core/lib/multistore';
import FootLogo from 'theme/components/core/blocks/Footer/FootLogo';
import CurrentPage from 'theme/mixins/currentPage';
// import LanguageSwitcher from '../../LanguageSwitcher.vue';
import Newsletter from 'theme/components/core/blocks/Footer/Newsletter';
import BackToTop from 'theme/components/core/BackToTop';
import { getPathForStaticPage } from 'theme/helpers';
import config from 'config';
import Logo from 'theme/components/core/Logo';

export default {
  mixins: [CurrentPage],
  name: 'MainFooter',
  data () {
    return {
      activeAcordian: null
    };
  },
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup');
    },
    getLinkFor (path) {
      return localizedRoute(getPathForStaticPage(path));
    },
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        document
          .getElementsByClassName(`fcontent-${this.activeAcordian}`)[0]
          .classList.remove('active');
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit;
      document
        .getElementsByClassName(`fcontent-${digit}`)[0]
        .classList.toggle('active');
    }
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    multistoreEnabled () {
      return config.storeViews.multistore;
    },
    getVersionInfo () {
      return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`;
    }
  },
  components: {
    Newsletter,
    // LanguageSwitcher,
    BackToTop,
    FootLogo
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$color-secondary: color(secondary);
$green: color(green-95BF47);
$gray-E5E5E5: color(gray-E5E5E5);
$black-2D242D: color(black-2D242D);

footer {
  a:hover {
    color: $green;
  }
  a:hover:after {
    height: 0;
  }
}

.newsletters {
  .img-left,
  .img-right {
    position: absolute;
    top: 0;
    height: 100%;
    min-height: 290px;
  }
  .img-left {
    left: 0;
  }
  .img-right {
    right: 0;
    top: -29px;
  }
  h3{
    line-height: 41px;
  }
}
@media (max-width: 1200px) {
  .newsletters{
    .img-left{
      left: -70px;
    }
    .img-right{
      right: -80px;
    }
  }
}
@media (max-width: 992px) {
  .newsletters {
    .img-left {
      left: -70px;
      img{
        max-width: 290px;
      }
    }
    .img-right {
      right: -80px;
      img{
        max-width: 280px;
      }
    }
  }
}
@media (max-width: 768px) {
  .newsletters {
    .img-left {
      left: 0;
      top: 15px;
      min-height: auto;
      img{
        max-width: auto;
      }
    }
    .img-right {
      right: 0;
      top: 10px;
      min-height: auto;
      img{
        max-width: auto;
      }
    }
  }
}

.links {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.btn-top {
  border-radius: 4px;
  @media (max-width: 767px) {
    padding:10px 5px;
    svg{
      height:16px;
    }
  }
}

.bottom-links {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.footer__version-info {
  display: flex;
  color: $color-secondary;
  font-size: 0.7rem;
  @media (min-width: 768px) {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}

.legal-entity-link {
  text-align: center;
  @media (min-width: 768px) {
    display: none;
  }
}

.privacy-policy-link {
  text-align: right;
  @media (min-width: 768px) {
    display: none;
  }
}

.plus-icon {
  display: none;
}

@media (max-width: 767px) {
  .footer-links {
    div.container {
      padding-bottom: 30px;
    }
  }
  .plus-icon {
    display: inline-block;
    position: absolute;
    right: 0;
    color: $black-2D242D;
  }
  /*.block-content {
    display: none;
  }*/
  .active {
    display: block;
    margin-bottom: 15px;
  }
  /*.footer-block {
    & > div:not(:first-child) {
      border-top: 1px solid $gray-E5E5E5;
    }
  }*/
  .block-1 {
    margin-bottom: 30px;
  }
  .copyright-text {
    font-size: 12px;
  }
}
</style>

<style lang="scss">
.newsletters {
  h3{
    line-height: 41px;
  }
}
</style>
