<template>
  <div class="microcart relative bg-cl-white" data-testid="microcart">
    <transition name="fade">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class="bg-cl-white px28 top-back-link cart-back-link">
      <div class="cb-action no-underline py21" @click="closeMicrocartExtend">
        <router-link class="flex middle-xs f-s-18 weight-500 no-underline cl-black-2D242D" :to="''">
          <span class="pr15">
            <i class="fa fa-angle-left f-s-26" aria-hidden="true" />
          </span>
          <span>
            {{ "Continue Shopping" }}
          </span>
        </router-link>
      </div>
    </div>
    <div class="row middle-xs px40 cart-title">
      <div class="col-xs-12 align-center pt6 pb35">
        <h2
          v-if="productsInCart.length"
          class="cl-black-2D242D a-bold f-s-30 m0"
        >
          {{ $t("Shopping Cart") }}
        </h2>
      </div>
    </div>

    <h4 v-if="!productsInCart.length" class="cl-accent ml30">
      {{ $t("Your shopping cart is empty.") }}
    </h4>
    <div
      v-if="!productsInCart.length"
      class="ml30"
      @click="closeMicrocartExtend"
    >
      {{ $t("Don't hesitate and") }}
      <router-link :to="localizedRoute('/')">
        {{ $t("browse our catalog") }}
      </router-link>
      {{ $t("to find something beautiful for You!") }}
    </div>
    <ul
      v-if="productsInCart.length"
      class="m0 px40 pb40 products"
    >
      <product
        v-for="product in productsInCart"
        :key="product.server_item_id || product.id"
        :product="product"
      />
    </ul>
    <div v-if="productsInCart.length" class="summary px40 bg-cl-white-F5F5F5">
      <h3
        class="m0 pt45 pb15 mb20 f-s-20 weight-600 cl-black-2D242D summary-heading brdr-bottom-1 brdr-cl-gray-D8D8D8"
      >
        {{ $t("Shopping Summary") }}
      </h3>
      <div
        v-for="(segment, index) in totals"
        :key="index"
        class="row py10 f-s-18 cl-black-2D242D weight-500"
        v-if="segment.code !== 'grand_total'"
      >
        <div class="col-xs test">
          {{ $t(segment.title) }}
          <button
            v-if="appliedCoupon && segment.code === 'discount'"
            type="button"
            class="p0 brdr-none bg-cl-transparent close delete-button ml10"
            @click="clearCoupon"
          >
            <i class="material-icons cl-accent">
              close
            </i>
          </button>
        </div>
        <div v-if="segment.value != null" class="col-xs align-right">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
      <div class="row py30">
        <div v-if="OnlineOnly" class="col-xs-12 coupon-wrapper">
          <div class="coupon-input">
            <base-input
              type="text"
              :placeholder="'Add a discount code'"
              id="couponinput"
              :autofocus="true"
              :label-remove="true"
              v-model.trim="couponCode"
              @keyup.enter="setCoupon"
            />
          </div>
          <button-outline
            color="dark"
            :disabled="!couponCode"
            @click.native="setCoupon"
          >
            {{ $t("Add discount code") }}
          </button-outline>
        </div>
      </div>

      <div
        class="row weight-600"
        v-for="(segment, index) in totals"
        :key="index"
        v-if="segment.code === 'grand_total'"
      >
        <div class="col-xs f-s-18 weight-600 cl-black-2D242D total-price-label">
          {{ $t(segment.title) }}
        </div>
        <div
          class="col-xs align-right f-s-20 weight-600 cl-black-2D242D total-price-value"
        >
          {{ segment.value | price(storeView) }}
        </div>
      </div>
      <div
        class="flex py40 middle-xs actions end-xs ck-links"
        v-if="productsInCart.length && !isCheckoutMode"
      >
        <router-link
          :to="localizedRoute('/')"
          class="retun-ship no-underline f-s-16 weight-700 cl-black-2D242D link mr20"
        >
          <span @click="closeMicrocartExtend">
            {{ $t("Return to shopping") }}
          </span>
        </router-link>
        <button-full
          class="f-s-16 weight-700 uppercase"
          :link="{ name: 'checkout' }"
          @click.native="closeMicrocartExtend"
        >
          {{ $t("Go to checkout") }}
        </button-full>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import i18n from '@vue-storefront/i18n';
import { isModuleRegistered } from '@vue-storefront/core/lib/modules';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';

import VueOfflineMixin from 'vue-offline/mixin';
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress';
import InstantCheckout from 'src/modules/instant-checkout/components/InstantCheckout.vue';
import { registerModule } from '@vue-storefront/core/lib/modules';

import BaseInput from 'theme/components/core/blocks/Form/BaseInput';
// import ClearCartButton from "theme/components/core/blocks/Microcart/ClearCartButton";
import ButtonFull from 'theme/components/theme/ButtonFull';
import ButtonOutline from 'theme/components/theme/ButtonOutline';
import Product from 'theme/components/core/blocks/Microcart/Product';
import EditMode from './EditMode';
// import { InstantCheckoutModule } from "src/modules/instant-checkout";

export default {
  components: {
    Product,
    // ClearCartButton,
    ButtonFull,
    ButtonOutline,
    BaseInput
    // InstantCheckout
  },
  mixins: [VueOfflineMixin, EditMode, onEscapePress],
  data () {
    return {
      addCouponPressed: false,
      couponCode: '',
      componentLoaded: false,
      isInstantCheckoutRegistered: isModuleRegistered('InstantCheckoutModule')
    };
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  beforeCreate () {
    // registerModule(InstantCheckoutModule);
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
    });
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      appliedCoupon: 'cart/getCoupon',
      totals: 'cart/getTotals',
      isOpen: 'cart/getIsMicroCartOpen'
    }),
    storeView () {
      return currentStoreView();
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    addDiscountCoupon () {
      this.addCouponPressed = true;
    },
    clearCoupon () {
      this.$store.dispatch('cart/removeCoupon');
      this.addCouponPressed = false;
    },
    toggleMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart');
    },
    async setCoupon () {
      const couponApplied = await this.applyCoupon(this.couponCode);
      this.addCouponPressed = false;
      this.couponCode = '';
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t(
            "You've entered an incorrect coupon code. Please try again."
          ),
          action1: { label: i18n.t('OK') }
        });
      }
    },
    closeMicrocartExtend () {
      this.toggleMicrocart();
      this.$store.commit('ui/setSidebar', false);
      this.addCouponPressed = false;
    },
    onEscapePress () {
      this.toggleMicrocart();
    },
    clearCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: i18n.t(
          'Are you sure you would like to remove all the items from the shopping cart?'
        ),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: {
          label: i18n.t('OK'),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            await this.$store.dispatch('cart/clear', { disconnect: false });
          }
        },
        hasNoTimeout: true
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";

$black-2D242D: color(black-2D242D);
$white: color(white);

.close {
  i {
    opacity: 0.6;
  }
  &:hover,
  &:focus {
    i {
      opacity: 1;
    }
  }
}

.mt0 {
  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.products {
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

// .actions {
//   @media (max-width: 767px) {
//     padding: 0 15px;
//   }
//   .link {
//     @media (max-width: 767px) {
//       display: flex;
//       justify-content: center;
//       padding: 20px 70px;
//       &.checkout {
//         margin-top: 55px;
//         padding: 0;
//       }
//     }
//   }
// }

.summary {
  @media (max-width: 767px) {
    padding: 0 15px;
    font-size: 12px;
  }
}

.summary-heading {
  @media (max-width: 767px) {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 8px;
    padding-top: 20px;
  }
}

.total-price-label {
  @media (max-width: 767px) {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.total-price-value {
  @media (max-width: 767px) {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.delete-button {
  vertical-align: middle;
}

.coupon-wrapper {
  display: flex;

  .button-outline {
    text-transform: inherit;
    width: 35%;
    padding: 11px 15px;
    min-height: auto;
    font-weight: 600;
  }

  .coupon-input {
    margin-right: 20px;
    width: 100%;
  }
  @media (max-width: 767px) {
    .button-outline {
      width: 30%;
      padding: 7px 8px;
      font-size: 12px;
    }
  }
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: 767px) {
   .top-back-link {
     background: $black-2D242D;
     padding-left: 20px;
     .cb-action {
       padding-top: 10px;
       padding-bottom: 10px;
       a,i {
         color: $white;
       }
     }
   }
   .cart-title {
     h2 {
       font-size: 16px;
       padding-top: 20px;
     }
   }
   .summary {
     & > div {
       padding-top:10px;
       padding-bottom: 10px;
       font-size: 12px;
     }
   }
   .total-price-label,
   .total-price-value {
     font-size: 16px;
   }
}

</style>
<style lang="scss">
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
@import "~theme/css/blocks/microcart";
$gray-AAAAAA: color(gray-AAAAAA);
$gray-E5E5E5: color(gray-E5E5E5);
$gray-D8D8D8: color(gray-D8D8D8);
$black-2D242D: color(black-2D242D);
$green-95BF47: color(green-95BF47);
$white: color(white);
.coupon-input {
  .base-input {
    min-height: unset !important;
    .no-input-icon {
      border: 0;
    }
    input {
      border: 0;
      border-bottom: 1px solid $gray-D8D8D8 !important;
      color: $black-2D242D;
      &::placeholder {
        color: $gray-AAAAAA;
        font-size: 16px;
      }
      @media (max-width: 767px) {
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        &::placeholder {
          font-size: 12px;
        }
      }
    }
  }
}
.coupon-wrapper {
  .coupon-input {
    .base-input {
      input {
        min-height: unset;
        border-bottom: 1px solid $gray-E5E5E5;
      }
    }
  }
  .button-outline {
    min-width: unset !important;
    color: $black-2D242D;
    text-transform: uppercase !important;
    height: unset;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}
.ck-links {
  .button-full {
    min-width: unset !important;
    border-radius: 6px;
    background: $black-2D242D;
    color: $white;
    padding: 15px 35px;
  }
  @media (max-width: 767px) {
    padding-bottom: 20px !important;
    .retun-ship{
      font-size: 12px;
      font-weight: 400;
      margin-right: 15px;
    }
    .button-full {
      padding: 14px 30px;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
</style>
