<template>
  <button @click="$emit('click')" class="brdr-none inline-flex">
    <i class="modal-close material-icons f-s-24 cl-black-2D242D">
      close
    </i>
  </button>
</template>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$white: color(white);
button{
  background: transparent;
}
</style>
